@using INSN.Web.ViewModels.SegApp
@using INSN.Web.Portal.Resources;
@using INSN.Web.Portal.Resources.SegApp.Mantenimiento;
@inject IHttpContextAccessor HttpContextAccessor

@model SistemasViewModel

@{
    Layout = null;
}

@{
    string? UsuarioId = HttpContextAccessor?.HttpContext?.Session.GetString(Constantes.UsuarioId);
    string? Usuario = HttpContextAccessor?.HttpContext?.Session.GetString(Constantes.Usuario);
    string? NombreUsuario = HttpContextAccessor?.HttpContext?.Session.GetString(Constantes.NombreUsuario);
}


<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">

    <title>Sistemas</title>

    <!-- Icons -->
    <link rel="icon" href="~/imagenes/logo.ico" type="image/png">
    <!-- END Icons -->
    <!-- Stylesheets -->
    <!-- Codebase framework -->
    <link href="~/js/plugins/select2/css/select2.css" rel="stylesheet" />
    <link href="~/css/codebase.css" rel="stylesheet" />
    <link href="~/js/plugins/sweetalert2/sweetalert2.css" rel="stylesheet" />

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" integrity="..." crossorigin="anonymous" />

    <style>
        #content i {
            color: #0096ad;
        }
    </style>
    <!-- END Stylesheets -->
</head>

<body>

    <script src="~/js/lib/jquery.min.js"></script>
    @if (ViewBag.ShowModal != null && ViewBag.ShowModal)
    {
        <script>
            $(document).ready(function () {
                $('#ClaveModal').modal('show');
            });
        </script>
    }

    <form asp-controller="Acceso" asp-action="Index" method="post">
        <input asp-for="UsuarioId" hidden />
        <input asp-for="Usuario" hidden />
        <div id="page-container" class="sidebar-o sidebar-dark sidebar-mini enable-page-overlay side-scroll page-header-fixed page-header-glass" style="padding-left: 0px;">
            <!-- Main Container -->
            <main id="main-container">
                <!-- header -->
                <div class="bg-image bg-image-bottom" style="background-image: url('/Imagenes/Varios/INSN.jpg');background-position-y: 50%;">
                    <div class="bg-primary-dark-op">
                        @if (Model.ListaSistema is not null)
                        {
                            if (Model.ListaSistema.Any())
                            {
                                <div style="color: #FFF; padding-top: 10px; margin-right: 0px;">
                                    <div class="row">
                                        <div class="col-md-1 col-sm-6">
                                        </div>
                                        <div class="col-md-4 col-sm-6">
                                            @if (NombreUsuario != null)
                                            {
                                                <h6 style="margin-left: 20px;">Bienvenido(a), @NombreUsuario.ToUpper()</h6>
                                            }
                                        </div>
                                        <div class="col-md-4 col-sm-6">
                                        </div>
                                        <div class="col-md-2 col-sm-6">
                                            <div class="dropdown d-inline-block" style="float: right;">
                                                <button type="button" class="btn btn-sm btn-alt-secondary" id="page-header-user-dropdown" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                    <i class="fa fa-user d-sm-none"></i>
                                                    <span class="d-none d-sm-inline-block fw-semibold">@Usuario</span>
                                                    <i class="fa fa-angle-down opacity-50 ms-1"></i>
                                                </button>
                                                <div class="dropdown-menu dropdown-menu-md dropdown-menu-end p-0" aria-labelledby="page-header-user-dropdown">
                                                    <div class="p-2">
                                                        <span id="addon-Clave" style="cursor: pointer" data-bs-toggle="modal" data-bs-target="#ClaveModal">
                                                            <a class="dropdown-item d-flex align-items-center justify-content-between space-x-1">
                                                                <span style="cursor: pointer" data-bs-toggle="modal" data-bs-target="#ClaveModal">
                                                                    Cambiar contraseña &nbsp;
                                                                </span>
                                                                <i class="fas fa-key opacity-25"></i>
                                                            </a>
                                                        </span>
                                                    </div>
                                                    <div class="p-2">
                                                        <a class="dropdown-item d-flex align-items-center justify-content-between space-x-1" asp-controller="Acceso" asp-action="Logout">
                                                            <span>Cerrar sesión</span>
                                                            <i class="fa fa-fw fa-sign-out-alt opacity-25"></i>
                                                        </a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-1 col-sm-6">
                                        </div>
                                    </div>
                                </div>
                            }
                        }
                        <div class="content-top text-center overflow-hidden">
                            <div>
                                <img src="/Imagenes/Varios/INSN_logo_Circulo.png" style="height: 270px;">
                            </div>
                        </div>
                    </div>
                </div>
                <!-- END header -->
                <!-- Page Content -->
                <div class="bg-body-light border-bottom">
                    <div class="content py-1 text-center">
                        <br />
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-2 col-sm-6"></div>
                    <div class="col-md-8 col-sm-6">
                        <div id="content" class="content">
                            <div class="row justify-content-center text-center">
                                <br />

                                @if (HttpContextAccessor?.HttpContext?.Session.GetString(Constantes.JwtToken) != null
                                && HttpContextAccessor?.HttpContext?.Session.GetString(Constantes.JwtToken)!.Length > 0)
                                {
                                    <h5 class="fw-bold mb-2" style="color: #0096ad;">
                                        Seleccione el sistema a ingresar
                                    </h5>
                                    <br />

                                    <br />
                                    <!-- Row #1 -->
                                    @if (Model.ListaSistema is null)
                                    {
                                        <p>Sin resultados</p>
                                    }
                                    else if (!Model.ListaSistema.Any())
                                    {
                                        <p>Sin datos para mostrar</p>
                                    }
                                    else
                                    {
                                        @foreach (var item in Model.ListaSistema)
                                        {
                                            <div class="col-md-6 col-xl-2">
                                                <a class="block block-rounded block-bordered block-link-pop text-center p-0 block-content-brillante" target="@item.Target"
                                                   href="Redireccionar?p=@item.CodigoSistemaId&url=@item.Url&ut=@item.UsarToken">
                                                    <div class="block-content block-content-full text-center p-2">
                                                        <p class="p-1 m-0">
                                                            <i class="fa @item.Icono fa-2x opacity-40 m-0"></i>
                                                        </p>
                                                        <p class="fs-sm fw-semibold text-uppercase text-muted">@item.descripcion</p>
                                                    </div>
                                                </a>
                                            </div>
                                        }
                                    }
                                }
                                else
                                {
                                    <h5 class="fw-bold text-black mb-2">
                                        Usuario no logueado...
                                        <a asp-controller="Acceso" asp-action="Login" class="linkedin" target="_self">
                                            Clic aquí para ir al login
                                        </a>
                                    </h5>
                                }
                            </div>
                        </div>



                    </div>
                    <div class="col-md-2 col-sm-6"></div>
                </div>
                   <!-- END Page Content -->

            </main>
            <!-- END Main Container -->
            <!-- Footer -->
            <footer id="page-footer">
                <div class="content py-3">
                    <div class="row fs-sm">
                        <div class="col-sm-6 order-sm-2 py-1 text-center text-sm-end">
                            <a class="fw-semibold">INSN &nbsp;</a> <i class="fa fa-hospital"></i>  <a class="fw-semibold"> &nbsp; </a>
                        </div>
                        <div class="col-sm-6 order-sm-1 py-1 text-center text-sm-start">
                            <a class="fw-semibold" href="http://www.insn.gob.pe/" target="_blank">
                                Instituto Nacional de Salud del Niño
                            </a> &copy; 2023
                        </div>
                    </div>
                </div>
            </footer>
            <!-- END Footer -->
        </div>

        <!-- END Page Container -->
        <!-- ======= INICIO: MODAL  ============================== -->
        <div class="modal fade" id="ClaveModal" tabindex="-1" aria-labelledby="ClaveModal" style="display: none;" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="block block-themed block-rounded">
                        <div class="block-header block-header-default">
                            <h3 class="block-title">Cambiar contraseña</h3>
                            <div class="block-options">
                                <button type="button" class="btn-block-option" data-bs-dismiss="modal" aria-label="Close">
                                    <i class="fas fa-times"></i>
                                </button>
                            </div>
                        </div>
                        <div class="modal-body">
                            <div class="row">
                                <div class="col-md-6 col-sm-6">
                                    <div class="form-floating mb-4">
                                        @Html.TextBoxFor(m => m.Clave, new { @class = "form-control", @placeholder = "Contraseña", @id = "txtClave", @type = "password" }) <!-- Restricción -->
                                        <span asp-validation-for="Clave" class="text-danger"></span>
                                        <label class="form-label">@Html.Raw(UsuarioResource.EtiquetaClave)</label>
                                    </div>
                                </div>
                                <div class="col-md-6 col-sm-6">
                                    <div class="form-floating mb-4">
                                        @Html.TextBoxFor(m => m.ConfirmaClave, new { @class = "form-control", @placeholder = "Confirmar contraseña", @id = "txtConfirmaClave", @type = "password" }) <!-- Restricción -->
                                        <span asp-validation-for="ConfirmaClave" class="text-danger"></span>
                                        <label class="form-label">@Html.Raw(UsuarioResource.EtiquetaConfirmaClave)</label>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12 col-sm-12 text-center">
                                    <div class="form-floating mb-4">
                                        <button id="btnGuardar" class="btn btn-primary" asp-controller="Acceso"
                                                asp-action="UsuarioActualizarClave" asp-route-Usuario=@Usuario title="Guardar">
                                            <i class="fas fa-save"></i> Guardar
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
    <!-- ======= FIN MODAL  ============================== -->

    <script src="~/js/codebase.app.min.js"></script>

    <script src="~/js/plugins/datatables/jquery.dataTables.min.js"></script>
    <script src="~/js/plugins/datatables-bs5/js/dataTables.bootstrap5.js"></script>
    <script src="~/js/plugins/datatables-responsive/js/dataTables.responsive.js"></script>
    <script src="~/js/plugins/datatables-responsive-bs5/js/responsive.bootstrap5.min.js"></script>
    <script src="~/js/plugins/datatables-buttons/dataTables.buttons.js"></script>
    <script src="~/js/plugins/datatables-buttons-bs5/js/buttons.bootstrap5.min.js"></script>
    <script src="~/js/plugins/datatables-buttons-jszip/jszip.min.js"></script>
    <script src="~/js/plugins/datatables-buttons-pdfmake/pdfmake.min.js"></script>
    <script src="~/js/plugins/datatables-buttons-pdfmake/vfs_fonts.js"></script>
    <script src="~/js/plugins/datatables-buttons/buttons.print.min.js"></script>
    <script src="~/js/plugins/datatables-buttons/buttons.html5.min.js"></script>
    <script src="~/js/plugins/sweetalert2/sweetalert2.js"></script>

    <script src="~/js/plugins/select2/js/select2.full.js"></script>


    <!-- Page JS Plugins CSS -->
    <link rel="stylesheet" href="~/js/plugins/datatables-bs5/css/dataTables.bootstrap5.css">
    <link rel="stylesheet" href="~/js/plugins/datatables-buttons-bs5/css/buttons.bootstrap5.min.css">
    <link rel="stylesheet" href="~/js/plugins/datatables-responsive-bs5/css/responsive.bootstrap5.min.css">


    <!--
        Codebase JS

        Core libraries and functionality
        webpack is putting everything together at assets/_js/main/app.js
    -->


    <script>

        //#region [Success Operación]
        window.onload = function () {
            var nCodigoMensaje = '@TempData["CodigoMensaje"]'; // Obtener el valor de Código de Mensaje
            var sMensaje = '@TempData["Mensaje"]'; // Obtener el valor de Mensaje
            var sMetodo = '@TempData["Metodo"]';
            var sControlador = '@TempData["Controlador"]';

            if (nCodigoMensaje !== '' && nCodigoMensaje !== '0' && sMensaje !== '') {
                Modal_Grabar_Editar_Correcto(parseInt(nCodigoMensaje), sMensaje, sMetodo, sControlador); // Llamar a la función con los valores
            }
        };

        function Modal_Grabar_Editar_Correcto(nCodigoMensaje, sMensaje, sMetodo, sControlador) {
            const swalDistribucion = Swal.mixin({
                customClass: {
                    confirmButton: 'btn btn-lg btn-primary min-width-100 mx-4'
                },
                buttonsStyling: false
            });

            if (nCodigoMensaje === 1) {
                swalDistribucion.fire({
                    title: sMensaje,
                    icon: 'success',
                    confirmButtonText: 'Aceptar',
                    showCancelButton: false,
                }).then((resultado) => {
                    if (resultado.isConfirmed) {
                        setTimeout(function () {
                            // Generar la URL con los parámetros
                            var sMetodoEncoded = encodeURIComponent(sMetodo);
                            var sControladorEncoded = encodeURIComponent(sControlador);
                            var url = '/' + sControladorEncoded + '/' + sMetodoEncoded;

                            window.location.href = url;
                        }, 200); // tiempo de espera (milisegundos)
                    }
                });
            } else if (nCodigoMensaje === -1) {
                swalDistribucion.fire({
                    title: sMensaje,
                    icon: 'error',
                    confirmButtonText: 'Aceptar',
                    showCancelButton: false,
                }).then((resultado) => {
                    if (resultado.isConfirmed) {
                        // Acciones adicionales si se confirma el mensaje
                    }
                });
            }
        };

        //#endregion

        //#region
        function CerrarModal() {
            $('#ClaveModal').modal('hide');
        }

                //function SeleccionaProductoSiga(CodigoProductoId, Descripcion) {
                //    let hiddenInstructorId = document.getElementById("txtCodigoProductoId");
                //    hiddenInstructorId.value = CodigoProductoId;

                //    let inputInstructor = document.getElementById("txtDescripcion");
                //    inputInstructor.value = Descripcion;

                //    CerrarModal();
                //}
                    //#endregion
    </script>
</body>
</html>