@using INSN.Web.ViewModels.Home
@using INSN.Web.Portal.Resources;
@using INSN.Web.ViewModels.Common.Constantes;

@model DocumentoConvocatoriaViewModel

@{
    ViewData["Title"] = "INSN Breña";
}

<main id="main">
    <!-- ======= INICIO Convocatoria ======= -->
    <section id="about" class="about">
        <div class="container" data-aos="fade-up">
            <div class="section-header">
                <h2>Convocatorias</h2>
                <p align="justify">
                    
                </p>
            </div>
        </div>
    </section>
    <br />
    <!-- ======= FIN Convocatoria ======= -->
    <!-- ============== -->
    <!-- ======= INICIO DE SESSION CON PESTAÑA ======= -->
    <!-- ======= INICIO CAS - INTERNO - PUBLICO - ETC ======= -->
    <div class="section best-deal">
        <div class="container">
            <div class="col-lg-12">
                <div class="tabs-content">
                    <!-- ======= INICIO TABS ======= -->
                    <div class="nav-wrapper ">
                        <ul class="nav nav-tabs" role="tablist" style="justify-content: center; border-bottom: 2px solid #0096ad !important;">
                            <li class="nav-item" role="presentation">
                                <button class="nav-link active" id="CAS-tab" data-bs-toggle="tab" data-bs-target="#CAS" type="button" role="tab" aria-controls="CAS" aria-selected="true">CAS</button>
                            </li>
                            <li class="nav-item" role="presentation">
                                <button class="nav-link" id="Interno-tab" data-bs-toggle="tab" data-bs-target="#Interno" type="button" role="tab" aria-controls="Interno" aria-selected="false">Interno</button>
                            </li>
                            <li class="nav-item" role="presentation">
                                <button class="nav-link" id="Público-tab" data-bs-toggle="tab" data-bs-target="#Público" type="button" role="tab" aria-controls="Público" aria-selected="false">Público</button>
                            </li>
                            <li class="nav-item" role="presentation">
                                <button class="nav-link" id="Suplencias-tab" data-bs-toggle="tab" data-bs-target="#Suplencias" type="button" role="tab" aria-controls="Suplencias" aria-selected="false">Suplencias</button>
                            </li>
                            <li class="nav-item" role="presentation">
                                <button class="nav-link" id="Nombramiento-tab" data-bs-toggle="tab" data-bs-target="#Nombramiento" type="button" role="tab" aria-controls="Nombramiento" aria-selected="false">Nombramiento</button>
                            </li>
                            <li class="nav-item" role="presentation">
                                <button class="nav-link" id="Reasignación-tab" data-bs-toggle="tab" data-bs-target="#Reasignación" type="button" role="tab" aria-controls="Reasignación" aria-selected="false">Reasignación</button>
                            </li>
                        </ul>
                    </div>
                    <!-- ======= FIN TABS ======= -->
                    <!-- ============== -->
                    <div class="tab-content" id="myTabContent">
                        <!-- ======= INICIO CAS======= -->
                        <div class="tab-pane fade show active" id="CAS" role="tabpanel" aria-labelledby="CAS-tab">
                            <div class="row">
                                <div class="row gy-4">
                                    <section class="about">
                                        <div class="container" data-aos="fade-up">
                                            @{
                                                int codigoConvocatoriaActual = 0;
                                                int codigoTipoDocumentoActual = 0;
                                            }
                                            @{
                                                var documentosFiltrados = Model.DocumentoConvocatoriasAgrupados
                                                .Where(grupo => grupo.CodigoTipoConvocatoriaId == @Enumerado.TipoConvocatoriaId.Cas)
                                                .ToList();
                                            }
                                            @foreach (var grupo in documentosFiltrados)
                                            {
                                                <div class="row gy-4">
                                                    <div class="col-lg-12">
                                                        @if (codigoConvocatoriaActual != grupo.CodigoConvocatoriaId)
                                                        {
                                                            <div class="block block-rounded h-100 mb-0">
                                                                <div class="block-content bg-gd-aqua py-5 text-center">
                                                                    <h3 class="fs-base fw-semibold mb-2">
                                                                        <a class="text-white">@grupo.DescripcionConvocatoria</a>
                                                                    </h3>
                                                                    <h4 class="fw-medium text-white-75 mb-1">
                                                                        @if (grupo.Estado == Enumerado.EstadoConvocatoria.Concluido)
                                                                        {
                                                                            <span class="badge bg-success" style="font-size: 18px;">@Html.Raw(GeneralResource.EtiquetaConcluida)</span>
                                                                        }
                                                                        else if (grupo.Estado == Enumerado.EstadoConvocatoria.EnProceso)
                                                                        {
                                                                            <span class="badge bg-primary" style="font-size: 18px;">@Html.Raw(GeneralResource.EtiquetaEnProceso)</span>
                                                                        }
                                                                    </h4>
                                                                </div>
                                                                <div class="block-content block-content-full text-center">
                                                                    <div class="row g-sm mt-3">
                                                                        <div class="col-6">
                                                                            <p><strong>@Html.Raw(GeneralResource.EtiquetaFechaInicio)</strong> @grupo.FechaInicio.ToString("yyyy-MM-dd")</p>
                                                                        </div>
                                                                        <div class="col-6">
                                                                            <p><strong>@Html.Raw(GeneralResource.EtiquetaFechaFinal)</strong> @grupo.FechaFinal.ToString("yyyy-MM-dd")</p>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            codigoConvocatoriaActual = grupo.CodigoConvocatoriaId;
                                                            codigoTipoDocumentoActual = 0;
                                                        }
                                                    </div>
                                                    <div class="col-lg-12">
                                                        <table class="table table-borderless table-vcenter mb-4">
                                                            @foreach (var detalle in grupo.Detalles)
                                                            {
                                                                <tbody>
                                                                    @if (codigoTipoDocumentoActual != detalle.CodigoTipoDocumentoConvocatoriaId)
                                                                    {
                                                                        <tr class="table-active">
                                                                            <th style="width: 50px;"></th>
                                                                            <th>@detalle.DescripcionTipoDocumentoConvocatoria</th>
                                                                        </tr>
                                                                        codigoTipoDocumentoActual = detalle.CodigoTipoDocumentoConvocatoriaId;
                                                                    }
                                                                    <tr>
                                                                        <td class="table-success text-center">
                                                                            <i class="fa fa-file-lines text-success"></i>
                                                                        </td>
                                                                        <td>
                                                                            <a>@detalle.DescripcionDocumentoConvocatoria</a>
                                                                        </td>
                                                                    </tr>
                                                                </tbody>
                                                            }
                                                        </table>
                                                    </div>
                                                </div>
                                            }
                                        </div>
                                    </section>
                                </div>
                            </div>
                        </div>
                        <!-- ============== -->
                        <!-- ======= INICIO INTERNO ======= -->
                        <div class="tab-pane fade" id="Interno" role="tabpanel" aria-labelledby="Interno-tab">
                            <div class="row">
                                <div class="row gy-4">
                                    <section class="about">
                                        <div class="container" data-aos="fade-up">
                                            @{
                                                int codigoConvocatoriaActualInterno = 0;
                                                int codigoTipoDocumentoActualInterno = 0;
                                            }
                                            @{
                                                var documentosFiltradosInterno = Model.DocumentoConvocatoriasAgrupados
                                                .Where(grupo => grupo.CodigoTipoConvocatoriaId == @Enumerado.TipoConvocatoriaId.Interno)
                                                .ToList();
                                            }
                                            @foreach (var grupo in documentosFiltradosInterno)
                                            {
                                                <div class="row gy-4">
                                                    <div class="col-lg-12">
                                                        @if (codigoConvocatoriaActualInterno != grupo.CodigoConvocatoriaId)
                                                        {
                                                            <div class="block block-rounded h-100 mb-0">
                                                                <div class="block-content bg-gd-aqua py-5 text-center">
                                                                    <h3 class="fs-base fw-semibold mb-2">
                                                                        <a class="text-white">@grupo.DescripcionConvocatoria</a>
                                                                    </h3>
                                                                    <h4 class="fw-medium text-white-75 mb-1">
                                                                        @if (grupo.Estado == Enumerado.EstadoConvocatoria.Concluido)
                                                                        {
                                                                            <span class="badge bg-success" style="font-size: 18px;">@Html.Raw(GeneralResource.EtiquetaConcluida)</span>
                                                                        }
                                                                        else if (grupo.Estado == Enumerado.EstadoConvocatoria.EnProceso)
                                                                        {
                                                                            <span class="badge bg-primary" style="font-size: 18px;">@Html.Raw(GeneralResource.EtiquetaEnProceso)</span>
                                                                        }
                                                                    </h4>
                                                                </div>
                                                                <div class="block-content block-content-full text-center">
                                                                    <div class="row g-sm mt-3">
                                                                        <div class="col-6">
                                                                            <p><strong>@Html.Raw(GeneralResource.EtiquetaFechaInicio)</strong> @grupo.FechaInicio.ToString("yyyy-MM-dd")</p>
                                                                        </div>
                                                                        <div class="col-6">
                                                                            <p><strong>@Html.Raw(GeneralResource.EtiquetaFechaFinal)</strong> @grupo.FechaFinal.ToString("yyyy-MM-dd")</p>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            codigoConvocatoriaActualInterno = grupo.CodigoConvocatoriaId;
                                                            codigoTipoDocumentoActualInterno = 0;
                                                        }
                                                    </div>
                                                    <div class="col-lg-12">
                                                        <table class="table table-borderless table-vcenter mb-4">
                                                            @foreach (var detalle in grupo.Detalles)
                                                            {
                                                                <tbody>
                                                                    @if (codigoTipoDocumentoActualInterno != detalle.CodigoTipoDocumentoConvocatoriaId)
                                                                    {
                                                                        <tr class="table-active">
                                                                            <th style="width: 50px;"></th>
                                                                            <th>@detalle.DescripcionTipoDocumentoConvocatoria</th>
                                                                        </tr>
                                                                        codigoTipoDocumentoActualInterno = detalle.CodigoTipoDocumentoConvocatoriaId;
                                                                    }
                                                                    <tr>
                                                                        <td class="table-success text-center">
                                                                            <i class="fa fa-file-lines text-success"></i>
                                                                        </td>
                                                                        <td>
                                                                            <a>@detalle.DescripcionDocumentoConvocatoria</a>
                                                                        </td>
                                                                    </tr>
                                                                </tbody>
                                                            }
                                                        </table>
                                                    </div>
                                                </div>
                                            }
                                        </div>
                                    </section>
                                </div>
                            </div>
                        </div>
                        <!-- ======= FIN INTERNO ======= -->
                        <!-- ============== -->
                        <!-- ======= INICIO PUBLICO ======= -->
                        <div class="tab-pane fade" id="Público" role="tabpanel" aria-labelledby="Público-tab">
                            <div class="row">
                                <div class="row gy-4">
                                    <section class="about">
                                        <div class="container" data-aos="fade-up">
                                            @{
                                                int codigoConvocatoriaActualPublico = 0;
                                                int codigoTipoDocumentoActualPublico = 0;
                                            }
                                            @{
                                                var documentosFiltradosPublico = Model.DocumentoConvocatoriasAgrupados
                                                .Where(grupo => grupo.CodigoTipoConvocatoriaId == @Enumerado.TipoConvocatoriaId.Público)
                                                .ToList();
                                            }
                                            @foreach (var grupo in documentosFiltradosPublico)
                                            {
                                                <div class="row gy-4">
                                                    <div class="col-lg-12">
                                                        @if (codigoConvocatoriaActualPublico != grupo.CodigoConvocatoriaId)
                                                        {
                                                            <div class="block block-rounded h-100 mb-0">
                                                                <div class="block-content bg-gd-aqua py-5 text-center">
                                                                    <h3 class="fs-base fw-semibold mb-2">
                                                                        <a class="text-white">@grupo.DescripcionConvocatoria</a>
                                                                    </h3>
                                                                    <h4 class="fw-medium text-white-75 mb-1">
                                                                        @if (grupo.Estado == Enumerado.EstadoConvocatoria.Concluido)
                                                                        {
                                                                            <span class="badge bg-success" style="font-size: 18px;">@Html.Raw(GeneralResource.EtiquetaConcluida)</span>
                                                                        }
                                                                        else if (grupo.Estado == Enumerado.EstadoConvocatoria.EnProceso)
                                                                        {
                                                                            <span class="badge bg-primary" style="font-size: 18px;">@Html.Raw(GeneralResource.EtiquetaEnProceso)</span>
                                                                        }
                                                                    </h4>
                                                                </div>
                                                                <div class="block-content block-content-full text-center">
                                                                    <div class="row g-sm mt-3">
                                                                        <div class="col-6">
                                                                            <p><strong>@Html.Raw(GeneralResource.EtiquetaFechaInicio)</strong> @grupo.FechaInicio.ToString("yyyy-MM-dd")</p>
                                                                        </div>
                                                                        <div class="col-6">
                                                                            <p><strong>@Html.Raw(GeneralResource.EtiquetaFechaFinal)</strong> @grupo.FechaFinal.ToString("yyyy-MM-dd")</p>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            codigoConvocatoriaActualPublico = grupo.CodigoConvocatoriaId;
                                                            codigoTipoDocumentoActualPublico = 0;
                                                        }
                                                    </div>
                                                    <div class="col-lg-12">
                                                        <table class="table table-borderless table-vcenter mb-4">
                                                            @foreach (var detalle in grupo.Detalles)
                                                            {
                                                                <tbody>
                                                                    @if (codigoTipoDocumentoActualPublico != detalle.CodigoTipoDocumentoConvocatoriaId)
                                                                    {
                                                                        <tr class="table-active">
                                                                            <th style="width: 50px;"></th>
                                                                            <th>@detalle.DescripcionTipoDocumentoConvocatoria</th>
                                                                        </tr>
                                                                        codigoTipoDocumentoActualPublico = detalle.CodigoTipoDocumentoConvocatoriaId;
                                                                    }
                                                                    <tr>
                                                                        <td class="table-success text-center">
                                                                            <i class="fa fa-file-lines text-success"></i>
                                                                        </td>
                                                                        <td>
                                                                            <a>@detalle.DescripcionDocumentoConvocatoria</a>
                                                                        </td>
                                                                    </tr>
                                                                </tbody>
                                                            }
                                                        </table>
                                                    </div>
                                                </div>
                                            }
                                        </div>
                                    </section>
                                </div>
                            </div>
                        </div>
                        <!-- ======= FIN PUBLICO ======= -->
                        <!-- ============== -->
                        <!-- ======= INICIO SUPLENCIAS ======= -->
                        <div class="tab-pane fade" id="Suplencias" role="tabpanel" aria-labelledby="Suplencias-tab">
                            <div class="row">
                                <div class="row gy-4">
                                    <section class="about">
                                        <div class="container" data-aos="fade-up">
                                            @{
                                                int codigoConvocatoriaActualSuplencias = 0;
                                                int codigoTipoDocumentoActualSuplencias = 0;
                                            }
                                            @{
                                                var documentosFiltradosSuplencias = Model.DocumentoConvocatoriasAgrupados
                                                .Where(grupo => grupo.CodigoTipoConvocatoriaId == @Enumerado.TipoConvocatoriaId.Suplencias)
                                                .ToList();
                                            }
                                            @foreach (var grupo in documentosFiltradosSuplencias)
                                            {
                                                <div class="row gy-4">
                                                    <div class="col-lg-12">
                                                        @if (codigoConvocatoriaActualSuplencias != grupo.CodigoConvocatoriaId)
                                                        {
                                                            <div class="block block-rounded h-100 mb-0">
                                                                <div class="block-content bg-gd-aqua py-5 text-center">
                                                                    <h3 class="fs-base fw-semibold mb-2">
                                                                        <a class="text-white">@grupo.DescripcionConvocatoria</a>
                                                                    </h3>
                                                                    <h4 class="fw-medium text-white-75 mb-1">
                                                                        @if (grupo.Estado == Enumerado.EstadoConvocatoria.Concluido)
                                                                        {
                                                                            <span class="badge bg-success" style="font-size: 18px;">@Html.Raw(GeneralResource.EtiquetaConcluida)</span>
                                                                        }
                                                                        else if (grupo.Estado == Enumerado.EstadoConvocatoria.EnProceso)
                                                                        {
                                                                            <span class="badge bg-primary" style="font-size: 18px;">@Html.Raw(GeneralResource.EtiquetaEnProceso)</span>
                                                                        }
                                                                    </h4>
                                                                </div>
                                                                <div class="block-content block-content-full text-center">
                                                                    <div class="row g-sm mt-3">
                                                                        <div class="col-6">
                                                                            <p><strong>@Html.Raw(GeneralResource.EtiquetaFechaInicio)</strong> @grupo.FechaInicio.ToString("yyyy-MM-dd")</p>
                                                                        </div>
                                                                        <div class="col-6">
                                                                            <p><strong>@Html.Raw(GeneralResource.EtiquetaFechaFinal)</strong> @grupo.FechaFinal.ToString("yyyy-MM-dd")</p>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            codigoConvocatoriaActualSuplencias = grupo.CodigoConvocatoriaId;
                                                            codigoTipoDocumentoActualSuplencias = 0;
                                                        }
                                                    </div>
                                                    <div class="col-lg-12">
                                                        <table class="table table-borderless table-vcenter mb-4">
                                                            @foreach (var detalle in grupo.Detalles)
                                                            {
                                                                <tbody>
                                                                    @if (codigoTipoDocumentoActualSuplencias != detalle.CodigoTipoDocumentoConvocatoriaId)
                                                                    {
                                                                        <tr class="table-active">
                                                                            <th style="width: 50px;"></th>
                                                                            <th>@detalle.DescripcionTipoDocumentoConvocatoria</th>
                                                                        </tr>
                                                                        codigoTipoDocumentoActualSuplencias = detalle.CodigoTipoDocumentoConvocatoriaId;
                                                                    }
                                                                    <tr>
                                                                        <td class="table-success text-center">
                                                                            <i class="fa fa-file-lines text-success"></i>
                                                                        </td>
                                                                        <td>
                                                                            <a>@detalle.DescripcionDocumentoConvocatoria</a>
                                                                        </td>
                                                                    </tr>
                                                                </tbody>
                                                            }
                                                        </table>
                                                    </div>
                                                </div>
                                            }
                                        </div>
                                    </section>
                                </div>
                            </div>
                        </div>
                        <!-- ======= FIN SUPLENCIAS ======= -->
                        <!-- ============== -->
                        <!-- ======= INICIO NOMBRAMIENTO ======= -->
                        <div class="tab-pane fade" id="Nombramiento" role="tabpanel" aria-labelledby="Nombramiento-tab">
                            <div class="row">
                                <div class="row gy-4">
                                    <section class="about">
                                        <div class="container" data-aos="fade-up">
                                            @{
                                                int codigoConvocatoriaActualNombramiento = 0;
                                                int codigoTipoDocumentoActualNombramiento = 0;
                                            }
                                            @{
                                                var documentosFiltradosNombramiento = Model.DocumentoConvocatoriasAgrupados
                                                .Where(grupo => grupo.CodigoTipoConvocatoriaId == @Enumerado.TipoConvocatoriaId.Nombramiento)
                                                .ToList();
                                            }
                                            @foreach (var grupo in documentosFiltradosNombramiento)
                                            {
                                                <div class="row gy-4">
                                                    <div class="col-lg-12">
                                                        @if (codigoConvocatoriaActualNombramiento != grupo.CodigoConvocatoriaId)
                                                        {
                                                            <div class="block block-rounded h-100 mb-0">
                                                                <div class="block-content bg-gd-aqua py-5 text-center">
                                                                    <h3 class="fs-base fw-semibold mb-2">
                                                                        <a class="text-white">@grupo.DescripcionConvocatoria</a>
                                                                    </h3>
                                                                    <h4 class="fw-medium text-white-75 mb-1">
                                                                        @if (grupo.Estado == Enumerado.EstadoConvocatoria.Concluido)
                                                                        {
                                                                            <span class="badge bg-success" style="font-size: 18px;">@Html.Raw(GeneralResource.EtiquetaConcluida)</span>
                                                                        }
                                                                        else if (grupo.Estado == Enumerado.EstadoConvocatoria.EnProceso)
                                                                        {
                                                                            <span class="badge bg-primary" style="font-size: 18px;">@Html.Raw(GeneralResource.EtiquetaEnProceso)</span>
                                                                        }
                                                                    </h4>
                                                                </div>
                                                                <div class="block-content block-content-full text-center">
                                                                    <div class="row g-sm mt-3">
                                                                        <div class="col-6">
                                                                            <p><strong>@Html.Raw(GeneralResource.EtiquetaFechaInicio)</strong> @grupo.FechaInicio.ToString("yyyy-MM-dd")</p>
                                                                        </div>
                                                                        <div class="col-6">
                                                                            <p><strong>@Html.Raw(GeneralResource.EtiquetaFechaFinal)</strong> @grupo.FechaFinal.ToString("yyyy-MM-dd")</p>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            codigoConvocatoriaActualNombramiento = grupo.CodigoConvocatoriaId;
                                                            codigoTipoDocumentoActualNombramiento = 0;
                                                        }
                                                    </div>
                                                    <div class="col-lg-12">
                                                        <table class="table table-borderless table-vcenter mb-4">
                                                            @foreach (var detalle in grupo.Detalles)
                                                            {
                                                                <tbody>
                                                                    @if (codigoTipoDocumentoActualNombramiento != detalle.CodigoTipoDocumentoConvocatoriaId)
                                                                    {
                                                                        <tr class="table-active">
                                                                            <th style="width: 50px;"></th>
                                                                            <th>@detalle.DescripcionTipoDocumentoConvocatoria</th>
                                                                        </tr>
                                                                        codigoTipoDocumentoActualNombramiento = detalle.CodigoTipoDocumentoConvocatoriaId;
                                                                    }
                                                                    <tr>
                                                                        <td class="table-success text-center">
                                                                            <i class="fa fa-file-lines text-success"></i>
                                                                        </td>
                                                                        <td>
                                                                            <a>@detalle.DescripcionDocumentoConvocatoria</a>
                                                                        </td>
                                                                    </tr>
                                                                </tbody>
                                                            }
                                                        </table>
                                                    </div>
                                                </div>
                                            }
                                        </div>
                                    </section>
                                </div>
                            </div>
                        </div>
                        <!-- ======= FIN INTERNO ======= -->
                        <!-- ============== -->
                        <!-- ======= INICIO REASIGNACIÓN ======= -->
                        <div class="tab-pane fade" id="Reasignación" role="tabpanel" aria-labelledby="Reasignación-tab">
                            <div class="row">
                                <div class="row gy-4">
                                    <section class="about">
                                        <div class="container" data-aos="fade-up">
                                            @{
                                                int codigoConvocatoriaActualReasignación = 0;
                                                int codigoTipoDocumentoActualReasignación = 0;
                                            }
                                            @{
                                                var documentosFiltradosReasignación = Model.DocumentoConvocatoriasAgrupados
                                                .Where(grupo => grupo.CodigoTipoConvocatoriaId == @Enumerado.TipoConvocatoriaId.Reasignación)
                                                .ToList();
                                            }
                                            @foreach (var grupo in documentosFiltradosReasignación)
                                            {
                                                <div class="row gy-4">
                                                    <div class="col-lg-12">
                                                        @if (codigoConvocatoriaActualReasignación != grupo.CodigoConvocatoriaId)
                                                        {
                                                            <div class="block block-rounded h-100 mb-0">
                                                                <div class="block-content bg-gd-aqua py-5 text-center">
                                                                    <h3 class="fs-base fw-semibold mb-2">
                                                                        <a class="text-white">@grupo.DescripcionConvocatoria</a>
                                                                    </h3>
                                                                    <h4 class="fw-medium text-white-75 mb-1">
                                                                        @if (grupo.Estado == Enumerado.EstadoConvocatoria.Concluido)
                                                                        {
                                                                            <span class="badge bg-success" style="font-size: 18px;">@Html.Raw(GeneralResource.EtiquetaConcluida)</span>
                                                                        }
                                                                        else if (grupo.Estado == Enumerado.EstadoConvocatoria.EnProceso)
                                                                        {
                                                                            <span class="badge bg-primary" style="font-size: 18px;">@Html.Raw(GeneralResource.EtiquetaEnProceso)</span>
                                                                        }
                                                                    </h4>
                                                                </div>
                                                                <div class="block-content block-content-full text-center">
                                                                    <div class="row g-sm mt-3">
                                                                        <div class="col-6">
                                                                            <p><strong>@Html.Raw(GeneralResource.EtiquetaFechaInicio)</strong> @grupo.FechaInicio.ToString("yyyy-MM-dd")</p>
                                                                        </div>
                                                                        <div class="col-6">
                                                                            <p><strong>@Html.Raw(GeneralResource.EtiquetaFechaFinal)</strong> @grupo.FechaFinal.ToString("yyyy-MM-dd")</p>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            codigoConvocatoriaActualReasignación = grupo.CodigoConvocatoriaId;
                                                            codigoTipoDocumentoActualReasignación = 0;
                                                        }
                                                    </div>
                                                    <div class="col-lg-12">
                                                        <table class="table table-borderless table-vcenter mb-4">
                                                            @foreach (var detalle in grupo.Detalles)
                                                            {
                                                                <tbody>
                                                                    @if (codigoTipoDocumentoActualReasignación != detalle.CodigoTipoDocumentoConvocatoriaId)
                                                                    {
                                                                        <tr class="table-active">
                                                                            <th style="width: 50px;"></th>
                                                                            <th>@detalle.DescripcionTipoDocumentoConvocatoria</th>
                                                                        </tr>
                                                                        codigoTipoDocumentoActualReasignación = detalle.CodigoTipoDocumentoConvocatoriaId;
                                                                    }
                                                                    <tr>
                                                                        <td class="table-success text-center">
                                                                            <i class="fa fa-file-lines text-success"></i>
                                                                        </td>
                                                                        <td>
                                                                            <a>@detalle.DescripcionDocumentoConvocatoria</a>
                                                                        </td>
                                                                    </tr>
                                                                </tbody>
                                                            }
                                                        </table>
                                                    </div>
                                                </div>
                                            }
                                        </div>
                                    </section>
                                </div>
                            </div>
                        </div>
                        <!-- ======= FIN NOMBRAMIENTO ======= -->
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- ======= FIN CAS - INTERNO - PUBLICO - ETC ======= -->
    <!-- ======= FIN DE SESSION CON PESTAÑA ======= -->
</main>