@using INSN.Web.ViewModels.Home.DocumentoLegal
@using INSN.Web.Portal.Resources.Home
@using INSN.Web.Portal.Resources

@model DocumentoLegalViewModel

@{
    ViewData["Title"] = "INSN Breña";
}

<main id="main">   
    <!-- ======= INICIO DE SESSION CON PESTAÑA ( Covid 19)======= -->
    <div class="section best-deal">
        <div class="container">
            <div class="col-lg-12">
                <div class="section-header">
                    <h2>
                        Covid 19
                    </h2>
                </div>
                  @*   <h3>Covid 19</h3> *@
                    <p align="justify">
                         El impacto del COVID-19 en el Instituto Nacional de Salud del Niño ha sido abordado de manera integral y comprometida. La institución ha implementado medidas
                         preventivas y protocolos de seguridad para salvaguardar la salud de su personal y de los pacientes pediátricos a los que sirve. La respuesta incluye la aplicación
                         de estrictos procedimientos de control de infecciones, la provisión de equipos de protección personal, y la adaptación de las instalaciones para garantizar el 
                         distanciamiento físico y la seguridad de todos
                    </p>
                    <br />
                    <br />
              
                <div class="row gy-4">
                    <div class="col-lg-12">
                        <div class="content ps-0 ps-lg-5">
                            <div class="text-center">
                                <img src="~/Imagenes/Covi19/Covi19.PNG" class="img-fluid rounded shadow p-2" alt="" style="padding-bottom: 20px;">
                            </div>
                        </div>
                    </div>
                </div>
        </div>
    </div>
    </div>
    <br />
    <br />
    <!-- ======= FIN DE SESSION CON PESTAÑA ======= -->
    <!-- ======= INICIO DE DATATABLE  ======= -->
    <form>
        <section id="about" class="about">
            <div class="container" data-aos="fade-up">
                <div class="row">
                    <div class="col-3">
                        <div class="form-floating mb-4">
                            @Html.DropDownListFor(m => m.TipoDocumentoSeleccionada,
                            new SelectList(Model.TipoDocumentos, "CodigoTipoDocumentoId", "Descripcion"), "Todos", new { @class = "form-select", @id = "cmbTipoDocumento"})
                            <label class="form-label">Tipo Información Covid</label>
                        </div>
                    </div>
                    <div class="col-md-2 col-sm-6 text-md-right text-sm-left">
                        <button id="btnConsultar" class="btn btn-primary" asp-controller="Covid19" asp-action="Index" title="@Html.Raw(GeneralResource.EtiquetaConsultar)">
                            <i class="fa fa-search"></i> @Html.Raw(GeneralResource.EtiquetaConsultar)
                        </button>
                    </div>
                    <!-- ======= INICIO : Mostrar DataTable - Datos ========================== -->
                    <div class="col-7">
                        @if (Model.DocumentoLegales is null)
                        {
                            <p>Sin resultados</p>
                        }
                        else if (!Model.DocumentoLegales.Any())
                        {
                            <p>Sin datos para mostrar</p>
                        }
                        else
                        {
                            @*   Clase: Carga de Tabla- Grid Datos - Visual *@
                            <div id="GridResultado">
                                @*   Clase: Responsive para Columnas / Barra Desplazamiento *@
                                <div class="table-responsive" style="width: 100%;">
                                    <table class="js-table-checkable table table-hover table-vcenter">
                                        <thead>
                                            <tr>
                                                <th class="text-center"> @Html.Raw(DocumentoLegalResource.EtiquetaGridDescripción)</th>
                                                <th class="text-center"> @Html.Raw(DocumentoLegalResource.EtiquetaGridArchivoPDF)</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            @foreach (var item in Model.DocumentoLegales)
                                            {
                                                <tr>
                                                    <td class="col-10">
                                                        <p class="fw-semibold mb-1">@item.Descripcion</p>                                                    
                                                    </td>
                                                    <td class="col-2" style="TEXT-ALIGN: CENTER;">
                                                        @{
                                                            string icono = "";
                                                            string estilo = "";
                                                            string extension = System.IO.Path.GetExtension(item.RutaArchivo ?? "");

                                                            if (extension == ".pdf" || extension == ".PDF")
                                                            {
                                                                icono = "fas fa-file-pdf";
                                                                estilo = "danger";
                                                            }
                                                            else if (extension == ".doc" || extension == ".docx")
                                                            {
                                                                icono = "fas fa-file-word";
                                                                estilo = "primary";
                                                            }
                                                            else
                                                            {
                                                                icono = "fas fa-file-excel";
                                                                estilo = "success";
                                                            }
                                                        }
                                                        <a class="btn" asp-action="AdaptadorAbrirArchivo" asp-route-RutaArchivo="@item.RutaArchivo" title="Ver Archivo" target="_blank">
                                                            <i class="@icono text-@estilo fa-2x fa-bg"></i>
                                                        </a>
                                                    </td>
                                                </tr>
                                            }
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        }
                    </div>
                    <!-- ======= FIN    : Mostrar DataTable - Datos ========================== -->
                </div>
            </div>
        </section>
    </form>
    <!-- ======= FIN DE DATATABLE  ======= -->
    <br />
</main>