@using INSN.Web.ViewModels.Home

@model DocumentoLegalViewModel

@{
    Layout = "~/Views/Home/DirectorioInstitucional/_LayoutDirectorioInstitucional.cshtml";
}

<main id="main">
    <section id="about" class="about">
        <div class="container" data-aos="fade-up">
            <div class="section-header">
                <h4>Normas y Documentos Legales</h4>
            </div>
            <form>
                <div class="row">
                    <div class="col-3">
                        <div class="form-floating mb-4">
                            @Html.TextBoxFor(m => m.Documento, new { @class = "form-control", @id = "example-text-input-floating", @placeholder = "Resolución" })
                            <label class="form-label" for="example-text-input-floating">Resolución</label>
                        </div>
                    </div>
                    <div class="col-4">
                        <div class="form-floating mb-4">
                            @Html.TextBoxFor(m => m.Descripcion, new { @class = "form-control", @id = "example-text-input-floating", @placeholder = "Descripción" })
                            <label class="form-label" for="example-text-input-floating">Descripción</label>
                        </div>
                    </div>

                  @*   <div class="col-5">
                        <div class="form-floating mb-4">
                            @Html.DropDownListFor(m => m.TipoDocumentoSeleccionada,
                            new SelectList(Model.TipoDocumentos, "Id", "Descripcion"), "Todos", new { @class = "form-select", @id = "example-select-floating" })
                            <label class="form-label" for="example-select-floating">Documento</label>
                        </div>
                    </div>          *@          
                </div>

                <div class="row mt-3 justify-content-end">
                    <div class="col-auto">
                        <button id="btnBuscar" class="btn btn-outline-primary" type="submit"><i class="bi bi-search me-1"></i>Buscar</button>
                    </div>
                    <div class="col-auto">
                        <button class="btn btn-outline-primary" type="reset"><i class="bi bi-eraser-fill me-1"></i>Limpiar</button>
                    </div>


                </div>
                <div class="row">
                    <div>
                        Mostrar
                        <select id="pageSize" class="form-select-sm" asp-for="Rows">
                            <option>20</option>
                            <option>35</option>
                            <option>50</option>
                            <option>100</option>
                        </select>
                        registros
                    </div>
                </div>
                <div class="row mt-4">
                    @if (Model.DocumentoLegales is null)
                    {
                        <p>Sin resultados</p>
                    }
                    else if (!Model.DocumentoLegales.Any())
                    {
                        <p>Sin datos para mostrar</p>
                    }
                    else
                    {
                        <table class="table table-striped table-vcenter">
                            <tbody>
                                @foreach (var item in Model.DocumentoLegales)
                                {
                                    <tr>
                                        <td class="col-10">
                                            <h5 class="fw-bold">@item.Documento</h5>
                                            <br>
                                            @item.Descripcion
                                        </td>
                                        <td class="col-2 d-none d-sm-table-cell">
                                            <a target="_blank" href="@Url.Action("Download1", "DirectorioInstitucional", new { fileName = item.PDF })">
                                                <img src="~/imagenes/iconos/pdf.svg" alt="Icono PDF" width="32" height="32">
                                            </a>
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    }
                </div>
                <div class="container">
                    <partial name="_DataPager" model="ViewBag.Pager" />
                    @Html.HiddenFor(m => m.Page, new { id = "currentPage"})
                </div>
            </form>
        </div>
    </section>
</main>


@section Scripts
    {
    <script>
        function setCurrentPage(data) {
            let hiddenValue = document.getElementById('currentPage');
            hiddenValue.value = data;
            console.log(data);
        }

        function setPreviousPage(data) {
            let totalPages = @ViewBag.Pager.TotalPages;
            if (data <= totalPages) {
                data--;
                if (data === 0) {
                    data = 1;
                }

                setCurrentPage(data);
            }
        }

        function setNextPage(data) {
            let totalPages = @ViewBag.Pager.TotalPages;
            if (data < totalPages) {
                data++;
                setCurrentPage(data);
            }
        }
    </script>



}