@using INSN.Web.ViewModels.Home.DocumentoLegal
@using INSN.Web.Portal.Resources.Home
@using INSN.Web.Portal.Resources

@model DocumentoLegalViewModel

@{
    ViewData["Title"] = "INSN Breña";
}

<main id="main">
   
    <!-- ======= INICIO DE SESSION CON PESTAÑA ( sistema control  interno )======= -->
    <div class="section best-deal">
        <div class="container">
            <div class="col-lg-12">
                <div class="section-header">
                    <h3>Sistema Control Interno</h3>
                    @* <p align="justify">
                        lolo
                    </p> *@
                    <br />
                    <br />
                </div>
        </div>
    </div>
    </div>
    <!-- ======= FIN DE SESSION CON PESTAÑA ======= --> 
    <!-- ================================================= -->
    <!-- ======= INICIO DE DATATABLE  ======= -->
    <form>
        <section id="about" class="about">
            <div class="container" data-aos="fade-up">
                <div class="row">
                    <div class="col-3">
                        <div class="form-floating mb-4">
                            @Html.DropDownListFor(m => m.TipoDocumentoSeleccionada,
                            new SelectList(Model.TipoDocumentos, "CodigoTipoDocumentoId", "Descripcion"), "Todos", new { @class = "form-select", @id = "cmbTipoDocumento"})
                            <label class="form-label">Tipo Información SCI</label>
                        </div>
                    </div>
                    <div class="col-md-2 col-sm-6 text-md-right text-sm-left">
                        <button id="btnConsultar" class="btn btn-primary" asp-controller="SistemaControlInt" asp-action="Index" title="@Html.Raw(GeneralResource.EtiquetaConsultar)">
                            <i class="fa fa-search"></i> @Html.Raw(GeneralResource.EtiquetaConsultar)
                        </button>
                    </div>
                    <!-- ======= INICIO : Mostrar DataTable - Datos ========================== -->
                    <div class="col-7">
                        @if (Model.DocumentoLegales is null)
                        {
                            <p>Sin resultados</p>
                        }
                        else if (!Model.DocumentoLegales.Any())
                        {
                            <p>Sin datos para mostrar</p>
                        }
                        else
                        {
                            @*   Clase: Carga de Tabla- Grid Datos - Visual *@
                            <div id="GridResultado">
                                @*   Clase: Responsive para Columnas / Barra Desplazamiento *@
                                <div class="table-responsive" style="width: 100%;">
                                    <table class="js-table-checkable table table-hover table-vcenter">
                                        <thead>
                                            <tr>
                                                <th class="text-center"> @Html.Raw(DocumentoLegalResource.EtiquetaGridDescripción)</th>
                                                <th class="text-center"> @Html.Raw(DocumentoLegalResource.EtiquetaGridArchivoPDF)</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            @foreach (var item in Model.DocumentoLegales)
                                            {
                                                <tr>
                                                    <td class="col-10">
                                                        <p class="fw-semibold mb-1">@item.Descripcion</p>
                                                        <p class="fs-sm text-muted mb-0">
                                                            @item.FechaPublicacion.ToString("yyyy-MM-dd")
                                                        </p>
                                                    </td>
                                                    <td class="col-2 d-none d-sm-table-cell">
                                                        <a target="_blank" href="@Url.Action("Download1", "POA", new { fileName = item.PDF })">
                                                            <img src="~/imagenes/iconos/pdf.svg" alt="Icono PDF" width="32" height="32">
                                                        </a>
                                                    </td>
                                                </tr>
                                            }
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        }
                    </div>
                    <!-- ======= FIN    : Mostrar DataTable - Datos ========================== -->
                </div>
            </div>
        </section>
    </form>
    <!-- ======= FIN DE DATATABLE  ======= -->
</main>

