@using INSN.Web.ViewModels;
@using Newtonsoft.Json;
@inject IHttpContextAccessor HttpContextAccessor

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>SegApp</title>

    <link href="~/css/codebase.css" rel="stylesheet" />
    <link href="~/js/plugins/sweetalert2/sweetalert2.css" rel="stylesheet" />

    <link rel="icon" href="~/imagenes/varios/favicon_insn.ico" type="image/png">
</head>
<body>
    @{
        string? FechaVencimiento = HttpContextAccessor?.HttpContext?.Session?.GetString(Constantes.FechaVencimiento);

        if (FechaVencimiento == null)
        {
            <div class="container">
                <main role="main">
                    <br>
                    <h4>
                        No ha iniciado sesión...
                        <a asp-controller="Acceso" asp-action="Login" class="linkedin" target="_self">Ir al login</a>
                    </h4>
                </main>
            </div>
        }
        else
        {
            if (DateTime.Parse(FechaVencimiento) < DateTime.Now)
            {
                <div class="container">
                    <main role="main">
                        <br>
                        <h4>
                            Su sesión ha expirado...
                            <a asp-controller="Acceso" asp-action="Login" class="linkedin" target="_self">Ir al login</a>
                        </h4>
                    </main>
                </div>
            }
            else
            {
                string? Usuario = HttpContextAccessor?.HttpContext?.Session.GetString(Constantes.Usuario);
                string? NombreUsuario = HttpContextAccessor?.HttpContext?.Session.GetString(Constantes.NombreUsuario);
                string? jsonMenu = HttpContextAccessor?.HttpContext?.Session.GetString(Constantes.MenuDinamico);

                SeccionViewModel menu = JsonConvert.DeserializeObject<SeccionViewModel>(jsonMenu);

                <div id="page-container" class="sidebar-o enable-page-overlay side-scroll page-header-modern main-content-boxed">
                    <nav id="sidebar">
                        <!-- Sidebar Content -->
                        <div class="sidebar-content">
                            <!-- Side Header -->
                            <div class="content-header justify-content-lg-center">
                                <!-- Logo -->
                                <div>
                                    <img src="/Imagenes/logo.png" style="height: 50px;" />
                                </div>
                                <!-- END Logo -->
                            </div>
                            <!-- END Side Header -->
                            <!-- Sidebar Scrolling -->
                            <div class="js-sidebar-scroll">
                                <!-- Side User -->
                                <div class="content-side content-side-user px-0 py-0">
                                    <!-- Visible only in normal mode -->
                                    <div class="smini-hidden text-center mx-auto">
                                        <ul class="list-inline mt-3 mb-0">
                                            <li class="list-inline-item">
                                                <a class="link-fx text-dual fs-sm fw-semibold text-uppercase" href="be_pages_generic_profile.html">@Usuario</a>
                                            </li>
                                            <li class="list-inline-item">
                                                <a class="link-fx text-dual" asp-controller="Acceso" asp-action="Logout">
                                                    <i class="fa fa-sign-out-alt"></i>
                                                </a>
                                            </li>
                                        </ul>
                                    </div>
                                    <!-- END Visible only in normal mode -->
                                </div>
                                <!-- END Side User -->
                                <!-- Side Navigation -->
                                <div class="content-side content-side-full">
                                    <ul class="nav-main">
                                        <li class="nav-main-heading">Menú</li>

                                        @if (menu.SeccionLista is null)
                                        {
                                            <p>Sin resultados</p>
                                        }
                                        else if (!menu.SeccionLista.Any())
                                        {
                                            <p>Sin datos para mostrar</p>
                                        }
                                        else
                                        {
                                            @foreach (var item in menu.SeccionLista)
                                            {
                                                <li class="nav-main-item">
                                                    <a class="nav-main-link nav-main-link-submenu" data-toggle="submenu" aria-haspopup="true" aria-expanded="false" href="#">
                                                        <i class="nav-main-link-icon fa fa-grip-vertical"></i>
                                                        <span class="nav-main-link-name">@item.Descripcion</span>
                                                    </a>

                                                    <ul class="nav-main-submenu">
                                                        @if (item.ModuloLista != null)
                                                        {
                                                            @foreach (var modulo in item.ModuloLista)
                                                            {
                                                                <li class="nav-main-item">
                                                                    <a class="nav-main-link" asp-area="" asp-controller="@modulo.Controlador" asp-action="@modulo.Url">
                                                                        <i class="nav-main-link-icon fa @modulo.Icono"></i>
                                                                        <span class="nav-main-link-name">@modulo.Descripcion</span>
                                                                    </a>
                                                                </li>
                                                            }
                                                        }
                                                    </ul>
                                                </li>
                                            }
                                        }
                                    </ul>
                                </div>
                                <!-- END Side Navigation -->
                            </div>
                            <!-- END Sidebar Scrolling -->
                        </div>
                        <!-- Sidebar Content -->
                    </nav>
                    <!-- END Sidebar -->
                    <!-- Header -->
                    <header id="page-header">
                        <!-- Header Content -->
                        <div class="content-header">
                            <!-- Left Section -->
                            <div class="space-x-1">
                                <!-- Toggle Sidebar -->
                                <!-- Layout API, functionality initialized in Template._uiApiLayout() -->
                                <button type="button" class="btn btn-sm btn-alt-secondary" data-toggle="layout" data-action="sidebar_toggle">
                                    <i class="fa fa-fw fa-bars"></i>
                                </button>
                                <!-- END Toggle Sidebar -->
                            </div>
                            <!-- END Left Section -->
                            <!-- Right Section -->
                            <div class="space-x-1">
                                <!-- User Dropdown -->
                                <div class="dropdown d-inline-block">
                                    <button type="button" class="btn btn-sm btn-alt-secondary" id="page-header-user-dropdown" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        <i class="fa fa-user d-sm-none"></i>
                                        @if (Usuario != null)
                                        {
                                            <span class="d-none d-sm-inline-block fw-semibold">@Usuario.ToUpper()</span>
                                        }
                                        <i class="fa fa-angle-down opacity-50 ms-1"></i>
                                    </button>
                                    <div class="dropdown-menu dropdown-menu-md dropdown-menu-end p-0" aria-labelledby="page-header-user-dropdown">
                                        <div class="px-2 py-3 bg-body-light rounded-top">
                                            <h5 class="h6 text-center mb-0">
                                                @NombreUsuario
                                            </h5>
                                        </div>
                                        <div class="p-2">
                                            <a class="dropdown-item d-flex align-items-center justify-content-between space-x-1" asp-controller="Acceso" asp-action="Logout">
                                                <span>Cerrar sesión</span>
                                                <i class="fa fa-fw fa-sign-out-alt opacity-25"></i>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                                <!-- END User Dropdown -->
                                <!-- Toggle Side Overlay -->
                            </div>
                            <!-- END Right Section -->
                        </div>
                        <!-- END Header Content -->
                        <!-- Header Loader -->
                        <!-- Please check out the Activity page under Elements category to see examples of showing/hiding it -->
                        <div id="page-header-loader" class="overlay-header bg-primary">
                            <div class="content-header">
                                <div class="w-100 text-center">
                                    <i class="far fa-sun fa-spin text-white"></i>
                                </div>
                            </div>
                        </div>
                        <!-- END Header Loader -->
                    </header>
                    <!-- END Header -->

                    <div class="container">
                        <main role="main" class="pb-3">
                            @RenderBody()
                        </main>
                    </div>

                    <!-- Footer -->
                    <footer id="page-footer">
                        <div class="content py-3">
                            <div class="row fs-sm">
                                <div class="col-sm-6 order-sm-2 py-1 text-center text-sm-end">
                                    <a class="fw-semibold">INSN &nbsp;</a> <i class="fa fa-hospital"></i>  <a class="fw-semibold"> &nbsp; SegApp </a>
                                </div>
                                <div class="col-sm-6 order-sm-1 py-1 text-center text-sm-start">
                                    <a class="fw-semibold" href="http://www.insn.gob.pe/" target="_blank">
                                        Instituto Nacional de Salud del Niño
                                    </a> &copy; 2023
                                </div>
                            </div>
                        </div>
                    </footer>
                    <!-- END Footer -->
                </div>
            }
        }
    }


    <script src="~/js/lib/jquery.min.js"></script>
    <script src="~/js/codebase.app.min.js"></script>

    <script src="~/js/plugins/datatables/jquery.dataTables.min.js"></script>
    <script src="~/js/plugins/datatables-bs5/js/dataTables.bootstrap5.js"></script>
    <script src="~/js/plugins/datatables-responsive/js/dataTables.responsive.js"></script>
    <script src="~/js/plugins/datatables-responsive-bs5/js/responsive.bootstrap5.min.js"></script>
    <script src="~/js/plugins/datatables-buttons/dataTables.buttons.js"></script>
    <script src="~/js/plugins/datatables-buttons-bs5/js/buttons.bootstrap5.min.js"></script>
    <script src="~/js/plugins/datatables-buttons-jszip/jszip.min.js"></script>
    <script src="~/js/plugins/datatables-buttons-pdfmake/pdfmake.min.js"></script>
    <script src="~/js/plugins/datatables-buttons-pdfmake/vfs_fonts.js"></script>
    <script src="~/js/plugins/datatables-buttons/buttons.print.min.js"></script>
    <script src="~/js/plugins/datatables-buttons/buttons.html5.min.js"></script>
    <script src="~/js/plugins/sweetalert2/sweetalert2.js"></script>

    <!-- Page JS Plugins CSS -->
    <link rel="stylesheet" href="~/js/plugins/datatables-bs5/css/dataTables.bootstrap5.css">
    <link rel="stylesheet" href="~/js/plugins/datatables-buttons-bs5/css/buttons.bootstrap5.min.css">
    <link rel="stylesheet" href="~/js/plugins/datatables-responsive-bs5/css/responsive.bootstrap5.min.css">

    <script src="~/js/pages/be_tables_datatables.js"></script>

    @*
    <script src="~/js/site.js" asp-append-version="true"></script> *@
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>

<script>
    function permite(elEvento, permitidos) {
        // Variables que definen los caracteres permitidos
        var numeros = "0123456789";
        var caracteres = " aábcdeéfghiíjklmnñoópqrstuvwxyzAÁBCDEÉFGHIÍJKLMNÑOÓPQRSTUVWXYZ";
        var numeros_caracteres = numeros + caracteres;
        var teclas_especiales = [8, 37, 39, 46];
        // 8=BackSpace, 46=Supr, 37=flecha izquierda, 39=flecha derecha
        // Seleccionar los caracteres a partir del parámetro de la función
        switch (permitidos) {
            case 'numeros':
                permitidos = numeros;
                break;
            case 'caracteres':
                permitidos = caracteres;
                break;
            case 'numeros_caracteres':
                permitidos = numeros_caracteres;
                break;
        }
        // Obtener la tecla pulsada
        var evento = elEvento || window.event;
        var codigoCaracter = evento.charCode || evento.keyCode;
        var caracter = String.fromCharCode(codigoCaracter);
        // Comprobar si la tecla pulsada es alguna de las teclas especiales
        // (teclas de borrado y flechas horizontales)
        var tecla_especial = false;
        for (var i in teclas_especiales) {
            if (codigoCaracter == teclas_especiales[i]) {
                tecla_especial = true;
                break;
            }
        }
        // Comprobar si la tecla pulsada se encuentra en los caracteres permitidos
        // o si es una tecla especial
        return permitidos.indexOf(caracter) != -1 || tecla_especial;
    }

    function Modal_Grabar_Editar_Correcto(nCodigoMensaje, sMensaje, sMetodo, sControlador) {
        const swalDistribucion = Swal.mixin({
            customClass: {
                confirmButton: 'btn btn-lg btn-primary min-width-100 mx-4'
            },
            buttonsStyling: false
        });

        if (nCodigoMensaje === 1) {
            swalDistribucion.fire({
                title: sMensaje,
                icon: 'success',
                confirmButtonText: 'Aceptar',
                showCancelButton: false,
            }).then((resultado) => {
                if (resultado.isConfirmed) {
                    setTimeout(function () {
                        // Generar la URL con los parámetros
                        var sMetodoEncoded = encodeURIComponent(sMetodo);
                        var sControladorEncoded = encodeURIComponent(sControlador);
                        var url = '/' + sControladorEncoded + '/' + sMetodoEncoded;

                        window.location.href = url;
                    }, 200); // tiempo de espera (milisegundos)
                }
            });
        } else if (nCodigoMensaje === -1) {
            swalDistribucion.fire({
                title: sMensaje,
                icon: 'error',
                confirmButtonText: 'Aceptar',
                showCancelButton: false,
            }).then((resultado) => {
                if (resultado.isConfirmed) {
                    // Acciones adicionales si se confirma el mensaje
                }
            });
        }
    };

    function Modal_Grabar_Editar_Correcto_Id(nCodigoMensaje, sMensaje, sMetodo, sControlador, sId) {
        const swalDistribucion = Swal.mixin({
            customClass: {
                confirmButton: 'btn btn-lg btn-primary min-width-100 mx-4'
            },
            buttonsStyling: false
        });

        if (nCodigoMensaje === 1) {
            swalDistribucion.fire({
                title: sMensaje,
                icon: 'success',
                confirmButtonText: 'Aceptar',
                showCancelButton: false,
            }).then((resultado) => {
                if (resultado.isConfirmed) {
                    setTimeout(function () {
                        // Generar la URL con los parámetros
                        var sMetodoEncoded = encodeURIComponent(sMetodo);
                        var sControladorEncoded = encodeURIComponent(sControlador);
                        var sIdEncoded = sId;
                        var url = '/' + sControladorEncoded + '/' + sMetodoEncoded + '?' + sIdEncoded;

                        window.location.href = url;
                    }, 200); // tiempo de espera (milisegundos)
                }
            });
        } else if (nCodigoMensaje === -1) {
            swalDistribucion.fire({
                title: sMensaje,
                icon: 'error',
                confirmButtonText: 'Aceptar',
                showCancelButton: false,
            }).then((resultado) => {
                if (resultado.isConfirmed) {
                    // Acciones adicionales si se confirma el mensaje
                }
            });
        }
    };
</script>