@using INSN.Web.Portal.Resources;

@{
    ViewData["Title"] = "INSN Breña";
}

<!-- ======= INICIO Seccion de Banner - Portada - Modificar Fotos y Texto ======= -->
<div class="main-banner">
    <div class="owl-carousel owl-banner">
        <div class="item item-1">
            <div class="header-text">
                <span class="category">Toronto, <em>Canada</em></span>
                <h2>Hurry!<br>Get the Best Villa for you</h2>
            </div>
        </div>
        <div class="item item-2">
            <div class="header-text">
                <span class="category">Melbourne, <em>Australia</em></span>
                <h2>Be Quick!<br>Get the best villa in town</h2>
            </div>
        </div>
        <div class="item item-3">
            <div class="header-text">
                <span class="category">Miami, <em>South Florida</em></span>
                <h2>Act Now!<br>Get the highest level penthouse</h2>
            </div>
        </div>
    </div>
</div>
<!-- ======= FIN Seccion de Banner - Portada - Modificar Fotos y Texto ======= -->


<main id="main">

    <!-- ======= INICIO NOTICIAS  ======= -->
    <section id="testimonials" class="testimonials">
        <div class="container" data-aos="fade-up">
            <br />
            <div class="section-header">
                <h2>Noticias</h2>
            </div>
            <div class="slides-3 swiper" data-aos="fade-up" data-aos-delay="100">
                <div class="swiper-wrapper">

                    <!-- Inicio Noticia 1 -->
                    <div class="swiper-slide">
                        <div class="testimonial-wrap">
                            <div class="testimonial-item">
                                <div class="d-flex align-items-center">
                                    <div style="text-align: center; width: 100%;">
                                        <img src="~/imagenes/noticias/noticia_1.jpeg" class="testimonial-img flex-shrink-0" alt="">
                                    </div>
                                   
                                </div>
                                <br>
                                    <h4>20 Julio, 2023</h4>
                                <p>
                                    @Html.Raw(NoticiaResource.EtiquetaTítuloNoticia_1)
                                </p>
                                    <br>
                              
                                <a href="#" data-bs-toggle="modal" data-bs-target="#modal-fromleft" class="readmore stretched-link">Leer Más <i class="bi bi-arrow-right"></i></a>
                            </div>
                        </div>
                    </div>
                    <!-- Fin Noticia 1 -->

                </div>
                <div class="swiper-pagination"></div>
            </div>

        </div>
    </section>
    <!-- ======= FIN NOTICIAS  ======= -->

    <!-- ======= Our Services Section ======= -->
    <section id="services" class="services sections-bg">
        <div class="container" data-aos="fade-up">

            <div class="section-header">
                <h2>Categorías</h2>
                <p align="center">
                    Conoce todos los trámites, servicios y contenido de orientación sobre un tema en específico.

                </p>
            </div>

            <div class="row gy-4" data-aos="fade-up" data-aos-delay="100">

                <div class="col-lg-2 col-md-2">
                    <div class="service-item  position-relative">
                        <div class="icon">
                            <i class="bi bi-activity"></i>
                        </div>
                        <h3>Solicitud de citas</h3>

                    </div>
                </div><!-- End Service Item -->

                <div class="col-lg-2 col-md-2">
                    <div class="service-item position-relative">
                        <div class="icon">
                            <i class="bi bi-broadcast"></i>
                        </div>
                        <h3>TeleHist</h3>
                    </div>
                </div><!-- End Service Item -->

                <div class="col-lg-2 col-md-2">
                    <div class="service-item position-relative">
                        <div class="icon">
                            <i class="bi bi-easel"></i>
                        </div>
                        <h3>Programa de Optimización Antimicrobianos</h3>

                    </div>
                </div><!-- End Service Item -->

                <div class="col-lg-2 col-md-2">
                    <div class="service-item position-relative">
                        <div class="icon">
                            <i class="bi bi-bounding-box-circles"></i>
                        </div>
                        <h3>Correo Insitucional</h3>
                    </div>
                </div><!-- End Service Item -->

                <div class="col-lg-2 col-md-2">
                    <div class="service-item position-relative">
                        <div class="icon">
                            <i class="bi bi-calendar4-week"></i>
                        </div>
                        <h3>Biométrico Laboral</h3>
                    </div>
                </div><!-- End Service Item -->

                <div class="col-lg-2 col-md-2">
                    <div class="service-item position-relative">
                        <div class="icon">
                            <i class="bi bi-chat-square-text"></i>
                        </div>
                        <h3>Stock Medicamentos</h3>
                    </div>
                </div><!-- End Service Item -->

                <div class="col-lg-2 col-md-2">
                    <div class="service-item position-relative">
                        <div class="icon">
                            <i class="bi bi-chat-square-text"></i>
                        </div>
                        <h3>Sistema de Control Interno</h3>
                    </div>
                </div><!-- End Service Item -->

            </div>

        </div>
    </section><!-- End Our Services Section -->

</main><!-- End #main -->


<!-- INICIO CREACION DE MODALS -->
<!-- INICIO MODAL - NOTICIA 1 -->
<div class="modal fade" id="modal-fromleft" tabindex="-1" role="dialog" aria-labelledby="modal-fromleft" aria-hidden="true">
    <div class="modal-dialog modal-dialog-fromleft" role="document">
        <div class="modal-content">
            <div class="block block-rounded shadow-none mb-0">
                <div class="container" data-aos="fade-up" style="PADDING: 30PX;">

                    <div class="section-header">
                        <h2>Noticias</h2>
                    </div>

                    <div class="row gy-4">
                        @* Titulo y Contenido Noticia 1 *@
                        @*  Columna 1 *@
                        <h5 style="text-align: center;">
                            @Html.Raw(NoticiaResource.EtiquetaTítuloNoticia_1)
                        </h5>
                        <div class="col-lg-6">

                            <img src="~/imagenes/noticias/noticia_1.jpeg" class="img-fluid rounded-4 mb-4" alt="">
                            <p>     <strong>
                                    @Html.Raw(NoticiaResource.EtiquetaContenidoNoticia_1_CodigoFecha)
                                </strong>
                            </p>
                            <p style="text-align: justify;">@Html.Raw(NoticiaResource.EtiquetaContenidoNoticia_1_p1)</p>
                        </div>
                        @*  Columna 2 *@
                        <div class="col-lg-6">
                            <p style="text-align: justify;">@Html.Raw(NoticiaResource.EtiquetaContenidoNoticia_1_p2)</p>
                            <p style="text-align: right;">@Html.Raw(NoticiaResource.EtiquetaFechaNoticia_1)</p>


                            


                        </div>
                    </div>

                </div>








                <div class="block-content block-content-full block-content-sm text-end border-top">
                    <button type="button" class="btn btn-alt-insn" data-bs-dismiss="modal">
                        Cerrar
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- FIN MODAL - NOTICIA 1 -->
<!-- FIN CREACION DE MODALS -->