@using INSN.Web.Portal.Resources;

@{
    ViewData["Title"] = "INSN Breña";
}

<!-- ======= INICIO Seccion de Banner - Portada - Modificar Fotos y Texto ======= -->
<div class="main-banner">
    <div class="owl-carousel owl-banner">
         <div class="item item-1">
            <div class="header-text">
                <span class="category">INSN, <em>Breña</em></span>
                <h2>Especialistas<br>en salud y atención infantil</h2>
            </div>
        </div> 
        <div class="item item-2">
            <div class="header-text">
                <span class="category">INSN, <em>Breña</em></span>
                <h2>Experiencia<br>pediátrica de primera clase</h2>
            </div>
        </div>
        <div class="item item-3">
            <div class="header-text">
                <span class="category">INSN, <em>Breña</em></span>
                <h2>Juntos<br>por la salud de los niños</h2>
            </div>
        </div>
    </div>
</div>
<!-- ======= FIN Seccion de Banner - Portada - Modificar Fotos y Texto ======= -->
<!-- ============== -->

<main id="main">
   
    <!-- ============== -->
    <!-- ======= INICIO DE CARTERA - SERVICIOS ======= -->
    <section id="CarteraServicios" class="services sections-bg">
        <div class="container " data-aos="fade-up">
            <div class="section-header">
                <h2>Categorías</h2>
                <p align="center">
                    Conoce todos los trámites, servicios y contenido de orientación sobre un tema en específico.
                </p>
            </div>
            <div class="row gy-4" data-aos="fade-up" data-aos-delay="100">
                
                <!--INICIO ITEM 1-->
                <div class="col-lg-2 col-md-2">
                    <div class="service-item  position-relative" align="center">
                        <a href="http://solicitudcitas.insn.gob.pe/TeleGestion/cliente/" target="_blank">
                            <img src="~/imagenes/iconos/icono_persona.svg" width="60" height="60">
                            <br />
                            <br />
                            <h3>Solicitud de Citas</h3>
                        </a>
                    </div>
                </div>
                <!--FIN ITEM 1-->
                <!--INICIO ITEM 2-->
                <div class="col-lg-2 col-md-2">
                    <div class="service-item  position-relative" align="center">
                        <a href="http://telehis.insn.gob.pe/" target="_blank">
                            <img src="~/imagenes/iconos/telehist.svg" width="60" height="60">
                            <br />
                            <br />
                            <h3>TeleHist</h3>
                        </a>
                    </div>
                </div>
                <!--FIN ITEM 2-->
                <!--INICIO ITEM 3-->
                <div class="col-lg-2 col-md-2">
                    <div class="service-item  position-relative" align="center">
                        <a asp-area="" asp-controller="POA" asp-action="Index">
                            <img src="~/imagenes/iconos/Programa_antimicrobiana.svg" width="60" height="60">
                            <br />
                            <br />
                            <h3 align="center">Programa de Opt. Antimicrobianos</h3>
                        </a>
                    </div>
                </div>
                <!--FIN ITEM 3-->               
                <!--INICIO ITEM 5-->
                <div class="col-lg-2 col-md-2">
                    <div class="service-item  position-relative" align="center">
                        <a href="http://asistencia.insn.gob.pe/" target="_blank">
                            <img src="~/imagenes/iconos/biometrico.svg" width="60" height="60">
                            <br />
                            <br />
                            <h3 align="center">Biométrico</h3>
                        </a>
                    </div>
                </div>
                <!--FIN ITEM 5-->
                <!--INICIO ITEM 6-->
                <div class="col-lg-2 col-md-2">
                    <div class="service-item  position-relative" align="center">
                        <a href="http://srvdb03/farmacia" target="_blank">
                            <img src="~/imagenes/iconos/stock.svg" width="60" height="60">
                            <br />
                            <br />
                            <h3 align="center">Stock Medicamentos</h3>
                        </a>
                    </div>
                </div>
                <!--FIN ITEM 6-->
                <!--INICIO ITEM 7-->
                <div class="col-lg-2 col-md-2">
                    <div class="service-item  position-relative" align="center">
                        <a asp-area="" asp-controller="SistemaControlInt" asp-action="Index">
                            <img src="~/imagenes/iconos/sistema_control.svg" width="60" height="60">
                            <br />
                            <br />
                            <h3 align="center">Sistema de Control Interno</h3>
                        </a>
                    </div>
                </div>
                <!--FIN ITEM 7-->
                <!--INICIO ITEM 8-->
                <div class="col-lg-2 col-md-2">
                    <div class="service-item  position-relative" align="center">
                        <a asp-area="" asp-controller="OportunidadLaboral" asp-action="DocumentoLegalOportunidadLaboral">
                            <img src="~/imagenes/iconos/oportunidad_laboral.svg" width="60" height="60">
                            <br />
                            <br />
                            <h3 align="center">Oportunidad Laboral</h3>
                        </a>
                    </div>
                </div>
                <!--FIN ITEM 8-->

                <!--INICIO ITEM 9-->
                <div class="col-lg-2 col-md-2">
                    <div class="service-item  position-relative" align="center">
                        <a href="https://revistapediatricae.insn.gob.pe/index.php/rpe" target="_blank">
                            <img src="~/imagenes/iconos/revista.svg" width="60" height="60">
                            <br />
                            <br />
                            <h3 align="center">Revista Pediátrica Especializada</h3>
                        </a>
                    </div>
                </div>
                <!--FIN ITEM 9-->
                <!--INICIO ITEM 10-->
                <div class="col-lg-2 col-md-2">
                    <div class="service-item  position-relative" align="center">
                        <a asp-area="" asp-controller="BibliotecaVirtual" asp-action="Index">
                            <img src="~/imagenes/iconos/biblioteca.svg" width="60" height="60">
                            <br />
                            <br />
                            <h3 align="center">Biblioteca Virtual</h3>
                        </a>
                    </div>
                </div>
                <!--FIN ITEM 10-->
                <!--INICIO ITEM 11-->
                <div class="col-lg-2 col-md-2">
                    <div class="service-item  position-relative" align="center">
                        <a asp-area="" asp-controller="MesaParte" asp-action="Index">
                            <img src="~/imagenes/iconos/mesa_parte.svg" width="60" height="60">
                            <br />
                            <br />
                            <h3 align="center">Mesa de Parte</h3>
                        </a>
                    </div>
                </div>
                <!--FIN ITEM 11-->
                <!--INICIO ITEM 12-->
                <div class="col-lg-2 col-md-2">
                    <div class="service-item  position-relative" align="center">
                        <a href="https://www.angelitosdecristalperu.org/" target="_blank">
                            <img src="~/imagenes/iconos/angel.svg" width="60" height="60">
                            <br />
                            <br />
                            <h3 align="center">Angelitos de Cristal</h3>
                        </a>
                    </div>
                </div>
                <!--FIN ITEM 12-->
                <!--INICIO ITEM 13-->
                <div class="col-lg-2 col-md-2">
                    <div class="service-item  position-relative" align="center">
                        <a asp-area="" asp-controller="SeguridadySalud" asp-action="Index">
                            <img src="~/imagenes/iconos/seguridad_salud.svg" width="60" height="60">
                            <br />
                            <br />
                            <h3 align="center">Seguridad y Salud en el Trabajo</h3>
                        </a>
                    </div>
                </div>
                <!--FIN ITEM 13-->
                <!--INICIO ITEM 14-->
                @* <div class="col-lg-2 col-md-2">
                    <div class="service-item  position-relative" align="center">
                        <a asp-area="" asp-controller="ReglamentoInterno" asp-action="DocumentoLegalRI">
                            <img src="~/imagenes/iconos/reglamento_interno.svg" width="60" height="60">
                            <br />
                            <br />
                            <h3 align="center">Reglamento Interno de Trabajo</h3>
                        </a>
                    </div>
                </div> *@
                <!--FIN ITEM 14-->
                <!--INICIO ITEM 15-->
                @* <div class="col-lg-2 col-md-2">
                    <div class="service-item  position-relative" align="center">
                        <a href="" target="_blank">
                            <img src="~/imagenes/iconos/reglamento_interno.svg" width="60" height="60">
                            <br />
                            <br />
                            <h3 align="center">Reglamento Interno de Trabajo</h3>
                        </a>
                    </div>
                </div> *@
                <!--FIN ITEM 15-->
                <!--INICIO ITEM 16-->
                <div class="col-lg-2 col-md-2">
                    <div class="service-item  position-relative" align="center">
                        <a href="https://www.gob.pe/institucion/insn/colecciones/28038-analisis-de-situacion-de-salud-asis" target="_blank">
                            <img src="~/imagenes/iconos/analisis.svg" width="60" height="60">
                            <br />
                            <br />
                            <h3 align="center">Análisis Situacional de Salud</h3>
                        </a>
                    </div>
                </div>
                <!--FIN ITEM 16-->

                <!--INICIO ITEM 17-->
                @* <div class="col-lg-2 col-md-2">
                    <div class="service-item  position-relative" align="center">
                        <a asp-area="" asp-controller="Donaciones" asp-action="Index">
                            <img src="~/imagenes/iconos/donaciones.svg" width="60" height="60">
                            <br />
                            <br />
                            <h3 align="center">Donaciones</h3>
                        </a>
                    </div>
                </div> *@
                <!--FIN ITEM 17-->
                <!--INICIO ITEM 18-->
                <div class="col-lg-2 col-md-2">
                    <div class="service-item  position-relative" align="center">
                        <a asp-area="" asp-controller="SubCAFAE" asp-action="Index">
                            <img src="~/imagenes/iconos/subcafae.svg" width="60" height="60">
                            <br />
                            <br />
                            <h3 align="center">SUB - CAFAE</h3>
                        </a>
                    </div>
                </div>
                <!--FIN ITEM 18-->
                <!--INICIO ITEM 19-->
               @*  <div class="col-lg-2 col-md-2">
                    <div class="service-item  position-relative" align="center">
                        <a asp-area="" asp-controller="GestionCalidad" asp-action="Index">
                            <img src="~/imagenes/iconos/gestion.svg" width="60" height="60">
                            <br />
                            <br />
                            <h3 align="center">Gestión de Calidad</h3>
                        </a>
                    </div>
                </div> *@
                <!--FIN ITEM 19-->
                <!--INICIO ITEM 20-->
                <div class="col-lg-2 col-md-2">
                    <div class="service-item  position-relative" align="center">
                        <a href="https://www.youtube.com/watch?v=nEZyjvM4avw" target="_blank">
                            <img src="~/imagenes/iconos/lactancia_materna.svg" width="60" height="60">
                            <br />
                            <br />
                            <h3 align="center">Lactancia Materna</h3>
                        </a>
                    </div>
                </div>
                <!--FIN ITEM 20-->
                <!--INICIO ITEM 20-->
              @*   <div class="col-lg-2 col-md-2">
                    <div class="service-item  position-relative" align="center">
                        <a asp-area="" asp-controller="DocumentosConsulta" asp-action="Index">
                            <img src="~/imagenes/iconos/documentos_consulta.svg" width="60" height="60">
                            <br />
                            <br />
                            <h3 align="center">Documentos en Consulta</h3>
                        </a>
                    </div>
                </div> *@
                <!--FIN ITEM 20-->
                <!--INICIO ITEM 21-->
                <div class="col-lg-2 col-md-2">
                    <div class="service-item  position-relative" align="center">
                        <a asp-area="" asp-controller="UFGRD" asp-action="Index">
                            <img src="~/imagenes/iconos/staff_medico.svg" width="60" height="60">
                            <br />
                            <br />
                            <h3 align="center">Unidad de Gestión del Riesgo de Desastre</h3>
                        </a>
                    </div>
                </div>
                </>
                <!--FIN ITEM 21-->
                <!--INICIO ITEM 22-->
                <div class="col-lg-2 col-md-2">
                    <div class="service-item  position-relative" align="center">

                        <a asp-area="" asp-controller="Covid19" asp-action="Index">
                            <img src="~/imagenes/iconos/Covid19.svg" width="60" height="60">
                            <br />
                            <br />
                            <h3 align="center">Covid 19</h3>
                        </a>
                    </div>
                </div>
                </>
                <!--FIN ITEM 22-->
                <!--INICIO ITEM 23-->
                <div class="col-lg-2 col-md-2">
                    <div class="service-item  position-relative" align="center">
                        @* <a href="http://www.insn.gob.pe/telesalud" target="_blank"> *@
                            <a asp-area="" asp-controller="Telesalud" asp-action="Index">
                            <img src="~/imagenes/iconos/Telesalud.svg" width="60" height="60">
                            <br />
                            <br />
                            <h3 align="center">Telesalud</h3>
                        </a>
                    </div>
                </div>
                </>
                <!--FIN ITEM 23-->
            </div>       
        </div>
    </section>
    <!-- ======= FIN DE CARTERA - SERVICIOS ======= -->
    <!-- ======= INICIO NOTICIAS  ======= -->
    <!-- ======= Incrementador de 1 a más  ======= -->
    <section id="Noticias" class="testimonials">
        <div class="container" data-aos="fade-up">
            <br />
            <div class="section-header">
                <h2>Noticias</h2>
            </div>
            <div class="slides-3 swiper" data-aos="fade-up" data-aos-delay="100">
                <div class="swiper-wrapper">
                    <!-- Inicio Noticia 6 -->
                    <div class="swiper-slide">
                        <div class="testimonial-wrap">
                            <div class="testimonial-item">
                                <div class="d-flex align-items-center">
                                    <div style="text-align: center; width: 100%;">
                                        <img src="~/imagenes/noticias/portafolio_noticia_6/noticia_6_f1.jpeg" class="testimonial-img flex-shrink-0" alt="">
                                    </div>
                                </div>
                                <br>
                                <h4> @Html.Raw(NoticiaResource.EtiquetaContenidoFechaNoticia_6)</h4>
                                <p>
                                    @Html.Raw(NoticiaResource.EtiquetaTítuloNoticia_6)
                                </p>
                                <br>
                                <a href="#" data-bs-toggle="modal" data-bs-target="#modal-fromleft_Noticia_6" class="readmore stretched-link">Leer Más <i class="bi bi-arrow-right"></i></a>
                            </div>
                        </div>
                    </div>
                    <!-- Fin Noticia 6 -->
                    <!-- Inicio Noticia 5 -->
                    <div class="swiper-slide">
                        <div class="testimonial-wrap">
                            <div class="testimonial-item">
                                <div class="d-flex align-items-center">
                                    <div style="text-align: center; width: 100%;">
                                        <img src="~/imagenes/noticias/portafolio_noticia_5/noticia_5_f1.jpeg" class="testimonial-img flex-shrink-0" alt="">
                                    </div>
                                </div>
                                <br>
                                <h4> @Html.Raw(NoticiaResource.EtiquetaContenidoFechaNoticia_5)</h4>
                                <p>
                                    @Html.Raw(NoticiaResource.EtiquetaTítuloNoticia_5)
                                </p>
                                <br>
                                <a href="#" data-bs-toggle="modal" data-bs-target="#modal-fromleft_Noticia_5" class="readmore stretched-link">Leer Más <i class="bi bi-arrow-right"></i></a>
                            </div>
                        </div>
                    </div>
                    <!-- Fin Noticia 5 -->
                    <!-- Inicio Noticia 4 -->
                    <div class="swiper-slide">
                        <div class="testimonial-wrap">
                            <div class="testimonial-item">
                                <div class="d-flex align-items-center">
                                    <div style="text-align: center; width: 100%;">
                                        <img src="~/imagenes/noticias/portafolio_noticia_4/noticia_4_f1.jpeg" class="testimonial-img flex-shrink-0" alt="">
                                    </div>
                                </div>
                                <br>
                                <h4> @Html.Raw(NoticiaResource.EtiquetaContenidoFechaNoticia_4)</h4>
                                <p>
                                    @Html.Raw(NoticiaResource.EtiquetaTítuloNoticia_4)
                                </p>
                                <br>
                                <a href="#" data-bs-toggle="modal" data-bs-target="#modal-fromleft_Noticia_4" class="readmore stretched-link">Leer Más <i class="bi bi-arrow-right"></i></a>
                            </div>
                        </div>
                    </div>
                    <!-- Fin Noticia 4 -->
                    <!-- Inicio Noticia 3 -->
                    <div class="swiper-slide">
                        <div class="testimonial-wrap">
                            <div class="testimonial-item">
                                <div class="d-flex align-items-center">
                                    <div style="text-align: center; width: 100%;">
                                        <img src="~/imagenes/noticias/portafolio_noticia_3/noticia_3_f1.jpeg" class="testimonial-img flex-shrink-0" alt="">
                                    </div>
                                </div>
                                <br>
                                <h4> @Html.Raw(NoticiaResource.EtiquetaContenidoFechaNoticia_3)</h4>
                                <p>
                                    @Html.Raw(NoticiaResource.EtiquetaTítuloNoticia_3)
                                </p>
                                <br>
                                <a href="#" data-bs-toggle="modal" data-bs-target="#modal-fromleft_Noticia_3" class="readmore stretched-link">Leer Más <i class="bi bi-arrow-right"></i></a>
                            </div>
                        </div>
                    </div>
                    <!-- Fin Noticia 3 -->
                    <!-- Inicio Noticia 2 -->
                    <div class="swiper-slide">
                        <div class="testimonial-wrap">
                            <div class="testimonial-item">
                                <div class="d-flex align-items-center">
                                    <div style="text-align: center; width: 100%;">
                                        <img src="~/imagenes/noticias/portafolio_noticia_2/noticia_2_f1.jpeg" class="testimonial-img flex-shrink-0" alt="">
                                    </div>
                                </div>
                                <br>
                                <h4> @Html.Raw(NoticiaResource.EtiquetaContenidoFechaNoticia_2)</h4>
                                <p>
                                    @Html.Raw(NoticiaResource.EtiquetaTítuloNoticia_2)
                                </p>
                                <br>
                                <a href="#" data-bs-toggle="modal" data-bs-target="#modal-fromleft_Noticia_2" class="readmore stretched-link">Leer Más <i class="bi bi-arrow-right"></i></a>
                            </div>
                        </div>
                    </div>
                    <!-- Fin Noticia 2 -->
                    <!-- Inicio Noticia 1 -->
                    <div class="swiper-slide">
                        <div class="testimonial-wrap">
                            <div class="testimonial-item">
                                <div class="d-flex align-items-center">
                                    <div style="text-align: center; width: 100%;">
                                        <img src="~/imagenes/noticias/portafolio_noticia_1/noticia_1_f1.jpeg" class="testimonial-img flex-shrink-0" alt="">
                                    </div>
                                </div>
                                <br>
                                <h4> @Html.Raw(NoticiaResource.EtiquetaContenidoFechaNoticia_1)</h4>
                                <p>
                                    @Html.Raw(NoticiaResource.EtiquetaTítuloNoticia_1)
                                </p>
                                <br>
                                <a href="#" data-bs-toggle="modal" data-bs-target="#modal-fromleft_Noticia_1" class="readmore stretched-link">Leer Más <i class="bi bi-arrow-right"></i></a>
                            </div>
                        </div>
                    </div>
                    <!-- Fin Noticia 1 -->
                </div>
                <div class="swiper-pagination"></div>
            </div>

        </div>
    </section>
    <!-- ======= FIN NOTICIAS  ======= -->
    <!-- ============== -->
    <!-- ======= INICIO DE COMUNICADOS======= -->
    <section id="Comunicado" class="portfolio sections-bg">
        <div class="container" data-aos="fade-up">
            <div class="section-header">
                <h2>Comunicados</h2>
                <p align="center">
                    Campañas y eventos
                </p>
            </div>
            <div class="portfolio-isotope" data-portfolio-filter="*" data-portfolio-layout="masonry" data-portfolio-sort="original-order" data-aos="fade-up" data-aos-delay="100">
                <div class="row gy-4 portfolio-container">
                    <!-- ============== -->
                    <!-- ============== -->
                    <!-- ============== -->
                    <!-- ======= INICIO DE COMUNICADO 10======= -->
                    <div class="col-xl-4 col-md-6 portfolio-item filter-app">
                        <div class="portfolio-wrap" style="height: 500px; /* Altura definida */">
                            <div style="text-align: center; width: 100%; height: 100%; display: flex; flex-direction: column; justify-content: space-between;">
                                <a href="~/imagenes/comunicados/comunicado_10.jpeg" data-gallery="Portafolio_Comunicado_10" class="glightbox">
                                    <img src="~/imagenes/comunicados/comunicado_10.jpeg" class="img-fluid" style="max-height: 400px;" alt="">
                                </a>
                                <div class="portfolio-info">
                                    <h6><a>Curso Metodología INSN</a></h6>
                                    <p>13 Noviembre, 2023</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- ======= FIN DE COMUNICADO 10======= -->
                    <!-- ======= INICIO DE COMUNICADO 9======= -->
                    <div class="col-xl-4 col-md-6 portfolio-item filter-app">
                        <div class="portfolio-wrap" style="height: 500px; /* Altura definida */">
                            <div style="text-align: center; width: 100%; height: 100%; display: flex; flex-direction: column; justify-content: space-between;">
                                <a href="~/imagenes/comunicados/comunicado_9.jpeg" data-gallery="Portafolio_Comunicado_9" class="glightbox">
                                    <img src="~/imagenes/comunicados/comunicado_9.jpeg" class="img-fluid" style="max-height: 400px;" alt="">
                                </a>
                                <div class="portfolio-info">
                                    <h6><a>Concurso Danza INSN</a></h6>
                                    <p>13 Noviembre, 2023</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- ======= FIN DE COMUNICADO 9======= -->
                    <!-- ============== -->
                    <!-- ======= INICIO DE COMUNICADO 8======= -->
                    <div class="col-xl-4 col-md-6 portfolio-item filter-app">
                        <div class="portfolio-wrap" style="height: 500px; /* Altura definida */">
                            <div style="text-align: center; width: 100%; height: 100%; display: flex; flex-direction: column; justify-content: space-between;">
                                <a href="~/imagenes/comunicados/comunicado_8.jpeg" data-gallery="Portafolio_Comunicado_7" class="glightbox">
                                    <img src="~/imagenes/comunicados/comunicado_8.jpeg" class="img-fluid" style="max-height: 400px;" alt="">
                                </a>
                                <div class="portfolio-info">
                                    <h6>
                                        <a>
                                            Cursos INSN
                                        </a>
                                    </h6>
                                    <p>9 Noviembre, 2023</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- ======= FIN DE COMUNICADO 8======= -->
                    <!-- ============== -->
                    <!-- ======= INICIO DE COMUNICADO 7======= -->
                    <div class="col-xl-4 col-md-6 portfolio-item filter-app" style="display: none;">
                        <div class="portfolio-wrap" style="height: 500px; /* Altura definida */">
                            <div style="text-align: center; width: 100%; height: 100%; display: flex; flex-direction: column; justify-content: space-between;">
                                <a href="~/imagenes/comunicados/comunicado_7.jpeg" data-gallery="Portafolio_Comunicado_7" class="glightbox">
                                    <img src="~/imagenes/comunicados/comunicado_7.jpeg" class="img-fluid" style="max-height: 400px;" alt="">
                                </a>
                                <div class="portfolio-info">
                                    <h6>
                                        <a>
                                            Cursos INSN
                                        </a>
                                    </h6>
                                    <p>9 Noviembre, 2023</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- ======= FIN DE COMUNICADO 7======= -->
                    <!-- ======= INICIO DE COMUNICADO 6======= -->
                    <div class="col-xl-4 col-md-6 portfolio-item filter-app">
                        <div class="portfolio-wrap" style="height: 500px; /* Altura definida */">
                            <div style="text-align: center; width: 100%; height: 100%; display: flex; flex-direction: column; justify-content: space-between;">
                                <a href="~/imagenes/comunicados/comunicado_6.jpeg" data-gallery="Portafolio_Comunicado_6" class="glightbox">
                                    <img src="~/imagenes/comunicados/comunicado_6.jpeg" class="img-fluid" style="max-height: 400px;" alt="">
                                </a>
                                <div class="portfolio-info">
                                    <h6>
                                        <a>
                                            Citas
                                        </a>
                                    </h6>
                                    <p>6 Noviembre, 2023</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- ======= FIN DE COMUNICADO 6======= -->
                    <!-- ============== -->
                    <!-- ======= INICIO DE COMUNICADO 5======= -->
                    <div class="col-xl-4 col-md-6 portfolio-item filter-app">
                        <div class="portfolio-wrap">
                            <div style="text-align: center; width: 100%;">
                                <a href="~/imagenes/comunicados/comunicado_5.jpeg" data-gallery="Portafolio_Comunicado_5" class="glightbox">
                                    <img src="~/imagenes/comunicados/comunicado_5.jpeg" class="img-fluid" style="max-height: 400px;" alt="">
                                </a>
                                <div class="portfolio-info">
                                    <h6>
                                        <a>
                                            Felices Fiestas Patrias 2023
                                        </a>
                                    </h6>
                                    <p>27 Julio, 2023</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- ======= FIN DE COMUNICADO 5======= -->
                    <!-- ============== -->
                    <!-- ======= INICIO DE COMUNICADO 4======= -->
                    <div class="col-xl-4 col-md-6 portfolio-item filter-app">
                        <div class="portfolio-wrap" style="height: 500px; /* Altura definida */">
                            <div style="text-align: center; width: 100%; height: 100%; display: flex; flex-direction: column; justify-content: space-between;">
                                <a href="~/imagenes/comunicados/comunicado_4.jpeg" data-gallery="Portafolio_Comunicado_4" class="glightbox">
                                    <img src="~/imagenes/comunicados/comunicado_4.jpeg" class="img-fluid" style="max-height: 400px;" alt="">
                                </a>
                                <div class="portfolio-info">
                                    <h6>
                                        <a>
                                            VI Congreso Internacional
                                        </a>
                                    </h6>
                                    <p>24 Julio, 2023</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- ======= FIN DE COMUNICADO 4======= -->
                    <!-- ============== -->
                    <!-- ======= INICIO DE COMUNICADO 3======= -->
                    <div class="col-xl-4 col-md-6 portfolio-item filter-app">
                        <div class="portfolio-wrap" style="height: 500px; /* Altura definida */">
                            <div style="text-align: center; width: 100%; height: 100%; display: flex; flex-direction: column; justify-content: space-between;">
                                <a href="~/imagenes/comunicados/comunicado_3.jpeg" data-gallery="Portafolio_Comunicado_3" class="glightbox">
                                    <img src="~/imagenes/comunicados/comunicado_3.jpeg" class="img-fluid" style="max-height: 400px;" alt="">
                                </a>
                                <div class="portfolio-info">
                                    <h6>
                                        <a>
                                            Día del Trabajo
                                        </a>
                                    </h6>
                                    <p>1 Mayo, 2023</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- ======= FIN DE COMUNICADO 3======= -->
                    <!-- ============== -->
                    <!-- ======= INICIO DE COMUNICADO 2======= -->
                    <div class="col-xl-4 col-md-6 portfolio-item filter-app">
                        <div class="portfolio-wrap" style="height: 500px; /* Altura definida */">
                            <div style="text-align: center; width: 100%; height: 100%; display: flex; flex-direction: column; justify-content: space-between;">
                                <a href="~/imagenes/comunicados/comunicado_2.jpeg" data-gallery="Portafolio_Comunicado_2" class="glightbox">
                                    <img src="~/imagenes/comunicados/comunicado_2.jpeg" class="img-fluid" style="max-height: 400px;" alt="">
                                </a>
                                <div class="portfolio-info">
                                    <h6>
                                        <a>
                                            Día del Psicólogo
                                        </a>
                                    </h6>
                                    <p>30 Abril, 2023</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- ======= FIN DE COMUNICADO 2======= -->
                        <!-- ============== -->
                    <!-- ======= INICIO DE COMUNICADO 1======= -->
                    <div class="col-xl-4 col-md-6 portfolio-item filter-app">
                        <div class="portfolio-wrap" style="height: 500px; /* Altura definida */">
                            <div style="text-align: center; width: 100%; height: 100%; display: flex; flex-direction: column; justify-content: space-between;">
                            <a href="~/imagenes/comunicados/comunicado_1.jpeg" data-gallery="Portafolio_Comunicado_1" class="glightbox">
                                    <img src="~/imagenes/comunicados/comunicado_1.jpeg" class="img-fluid" style="max-height: 400px;" alt="">
                            </a>
                            <div class="portfolio-info">
                                <h6>
                                    <a>
                                        Invitación Izamiento
                                    </a>
                                </h6>
                                <p>29 Abril, 2023</p>
                            </div>
                            </div>
                        </div>
                    </div>
                    <!-- ======= FIN DE COMUNICADO 1======= -->
                    <!-- ============== -->
                </div>
            </div>
        </div>
    </section>
    <!-- ======= FIN DE COMUNICADOS======= -->

</main>






<!-- INICIO CREACION DE MODALS -->
<!-- INICIO MODAL - NOTICIA 6 -->
<div class="modal fade" id="modal-fromleft_Noticia_6" tabindex="-1" role="dialog" aria-labelledby="modal-fromleft_Noticia_6" aria-hidden="true">
    <div class="modal-dialog modal-dialog-fromleft" role="document">
        <div class="modal-content">
            <div class="block block-rounded shadow-none mb-0">
                <div class="container block-content block-fondo" data-aos="fade-up" style="PADDING: 30PX;">
                    <div class="section-header">
                        <h2>Noticias</h2>
                    </div>
                    <div class="row gy-4">
                        @* Titulo y Contenido Noticia 6 *@
                        @*  Columna 1 *@
                        <h5 style="text-align: center;text-transform: uppercase;">
                            @Html.Raw(NoticiaResource.EtiquetaTítuloNoticia_6)
                        </h5>
                        <div class="col-lg-6">
                            <!-- Inicio de Portafolio Noticia 6 -->
                            <div class="row gy-4 portfolio-container">
                                @* INICIO Foto que se Mostrara *@
                                <div class="portfolio-item filter-app">
                                    <div class="portfolio-wrap">
                                        <a href="~/imagenes/noticias/portafolio_noticia_6/noticia_6_f1.jpeg" data-gallery="portfolio-noticia_6" class="glightbox">
                                            <img src="~/imagenes/noticias/portafolio_noticia_6/noticia_6_f1.jpeg"
                                                 class="img-fluid" alt="">
                                        </a>

                                    </div>
                                </div>
                                @* FIN Foto que se Mostrara *@
                                @* INICIO Fotos Ocultas *@
                                <div hidden>
                                    <div class="portfolio-wrap">
                                        <a href="~/imagenes/noticias/portafolio_noticia_6/noticia_6_f2.jpeg" data-gallery="portfolio-noticia_6" class="glightbox">
                                            <img src="~/imagenes/noticias/portafolio_noticia_6/noticia_6_f2.jpeg"
                                                 class="img-fluid" alt="">
                                        </a>
                                    </div>
                                </div>
                                @* FIN Fotos Ocultas *@
                            </div>
                            <!-- Fin de Portafolio Noticia 6 -->
                            <p>
                                <strong>
                                    @Html.Raw(NoticiaResource.EtiquetaContenidoCodigoFechaNoticia_6)
                                </strong>
                            </p>
                            <p style="text-align: justify;">@Html.Raw(NoticiaResource.EtiquetaContenidoNoticia_6_p1)</p>
                        </div>
                        @*  Columna 2 *@
                        <div class="col-lg-6">
                            <p style="text-align: justify;">@Html.Raw(NoticiaResource.EtiquetaContenidoNoticia_6_p2)</p>
                            <p style="text-align: right;">@Html.Raw(NoticiaResource.EtiquetaContenidoFechaNoticia_6)</p>
                        </div>
                    </div>
                </div>
                <div class="block-content block-content-full block-content-sm block-fondo text-end border-top">
                    <button type="button" class="btn btn-alt-insn" data-bs-dismiss="modal">
                        Cerrar
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- FIN MODAL - NOTICIA 6 -->
<!-- INICIO MODAL - NOTICIA 5 -->
<div class="modal fade" id="modal-fromleft_Noticia_5" tabindex="-1" role="dialog" aria-labelledby="modal-fromleft_Noticia_5" aria-hidden="true">
    <div class="modal-dialog modal-dialog-fromleft" role="document">
        <div class="modal-content">
            <div class="block block-rounded shadow-none mb-0">
                <div class="container block-content block-fondo" data-aos="fade-up" style="PADDING: 30PX;">
                    <div class="section-header">
                        <h2>Noticias</h2>
                    </div>
                    <div class="row gy-4">
                        @* Titulo y Contenido Noticia 5 *@
                        @*  Columna 1 *@
                        <h5 style="text-align: center;text-transform: uppercase;">
                            @Html.Raw(NoticiaResource.EtiquetaTítuloNoticia_5)
                        </h5>
                        <div class="col-lg-6">
                            <!-- Inicio de Portafolio Noticia 5 -->
                            <div class="row gy-4 portfolio-container">
                                @* INICIO Foto que se Mostrara *@
                                <div class="portfolio-item filter-app">
                                    <div class="portfolio-wrap">
                                        <a href="~/imagenes/noticias/portafolio_noticia_5/noticia_5_f1.jpeg" data-gallery="portfolio-noticia_5" class="glightbox">
                                            <img src="~/imagenes/noticias/portafolio_noticia_5/noticia_5_f1.jpeg"
                                                 class="img-fluid" alt="">
                                        </a>

                                    </div>
                                </div>
                                @* FIN Foto que se Mostrara *@
                                @* INICIO Fotos Ocultas *@
                                <div hidden>
                                    <div class="portfolio-wrap">
                                        <a href="~/imagenes/noticias/portafolio_noticia_5/noticia_5_f2.jpeg" data-gallery="portfolio-noticia_5" class="glightbox">
                                            <img src="~/imagenes/noticias/portafolio_noticia_5/noticia_5_f2.jpeg"
                                                 class="img-fluid" alt="">
                                        </a>
                                    </div>                                 
                                </div>
                                @* FIN Fotos Ocultas *@
                            </div>
                            <!-- Fin de Portafolio Noticia 5 -->
                            <p>
                                <strong>
                                    @Html.Raw(NoticiaResource.EtiquetaContenidoCodigoFechaNoticia_5)
                                </strong>
                            </p>
                            <p style="text-align: justify;">@Html.Raw(NoticiaResource.EtiquetaContenidoNoticia_5_p1)</p>
                        </div>
                        @*  Columna 2 *@
                        <div class="col-lg-6">
                            <p style="text-align: justify;">@Html.Raw(NoticiaResource.EtiquetaContenidoNoticia_5_p2)</p>
                            <p style="text-align: right;">@Html.Raw(NoticiaResource.EtiquetaContenidoFechaNoticia_5)</p>
                        </div>
                    </div>
                </div>
                <div class="block-content block-content-full block-content-sm block-fondo text-end border-top">
                    <button type="button" class="btn btn-alt-insn" data-bs-dismiss="modal">
                        Cerrar
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- FIN MODAL - NOTICIA 5 -->
<!-- INICIO MODAL - NOTICIA 4 -->
<div class="modal fade" id="modal-fromleft_Noticia_4" tabindex="-1" role="dialog" aria-labelledby="modal-fromleft_Noticia_4" aria-hidden="true">
    <div class="modal-dialog modal-dialog-fromleft" role="document">
        <div class="modal-content">
            <div class="block block-rounded shadow-none mb-0">
                <div class="container block-content block-fondo" data-aos="fade-up" style="PADDING: 30PX;">
                    <div class="section-header">
                        <h2>Noticias</h2>
                    </div>
                    <div class="row gy-4">
                        @* Titulo y Contenido Noticia 4 *@
                        @*  Columna 1 *@
                        <h5 style="text-align: center;text-transform: uppercase;">
                            @Html.Raw(NoticiaResource.EtiquetaTítuloNoticia_4)
                        </h5>
                        <div class="col-lg-6">
                            <!-- Inicio de Portafolio Noticia 1 -->
                            <div class="row gy-4 portfolio-container">
                                @* INICIO Foto que se Mostrara *@
                                <div class="portfolio-item filter-app">
                                    <div class="portfolio-wrap">
                                        <a href="~/imagenes/noticias/portafolio_noticia_4/noticia_4_f1.jpeg" data-gallery="portfolio-noticia_4" class="glightbox">
                                            <img src="~/imagenes/noticias/portafolio_noticia_4/noticia_4_f1.jpeg"
                                                 class="img-fluid" alt="">
                                        </a>

                                    </div>
                                </div>
                                @* FIN Foto que se Mostrara *@
                                @* INICIO Fotos Ocultas *@
                                <div hidden>
                                    <div class="portfolio-wrap">
                                        <a href="~/imagenes/noticias/portafolio_noticia_4/noticia_4_f2.jpeg" data-gallery="portfolio-noticia_4" class="glightbox">
                                            <img src="~/imagenes/noticias/portafolio_noticia_4/noticia_4_f2.jpeg"
                                                 class="img-fluid" alt="">
                                        </a>
                                    </div>
                                    <div class="portfolio-wrap">
                                        <a href="~/imagenes/noticias/portafolio_noticia_4/noticia_4_f3.jpeg" data-gallery="portfolio-noticia_4" class="glightbox">
                                            <img src="~/imagenes/noticias/portafolio_noticia_4/noticia_4_f3.jpeg"
                                                 class="img-fluid" alt="">
                                        </a>
                                    </div>
                                    <div class="portfolio-wrap">
                                        <a href="~/imagenes/noticias/portafolio_noticia_4/noticia_4_f4.jpeg" data-gallery="portfolio-noticia_4" class="glightbox">
                                            <img src="~/imagenes/noticias/portafolio_noticia_4/noticia_4_f4.jpeg"
                                                 class="img-fluid" alt="">
                                        </a>
                                    </div>
                                    <div class="portfolio-wrap">
                                        <a href="~/imagenes/noticias/portafolio_noticia_4/noticia_4_f5.jpeg" data-gallery="portfolio-noticia_4" class="glightbox">
                                            <img src="~/imagenes/noticias/portafolio_noticia_4/noticia_4_f5.jpeg"
                                                 class="img-fluid" alt="">
                                        </a>
                                    </div>
                                </div>
                                @* FIN Fotos Ocultas *@
                            </div>
                            <!-- Fin de Portafolio Noticia 4 -->
                            <p>
                                <strong>
                                    @Html.Raw(NoticiaResource.EtiquetaContenidoCodigoFechaNoticia_4)
                                </strong>
                            </p>
                            <p style="text-align: justify;">@Html.Raw(NoticiaResource.EtiquetaContenidoNoticia_4_p1)</p>
                        </div>
                        @*  Columna 2 *@
                        <div class="col-lg-6">
                            <p style="text-align: justify;">@Html.Raw(NoticiaResource.EtiquetaContenidoNoticia_4_p2)</p>
                            <p style="text-align: right;">@Html.Raw(NoticiaResource.EtiquetaContenidoFechaNoticia_4)</p>
                        </div>
                    </div>
                </div>
                <div class="block-content block-content-full block-content-sm block-fondo text-end border-top">
                    <button type="button" class="btn btn-alt-insn" data-bs-dismiss="modal">
                        Cerrar
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- FIN MODAL - NOTICIA 4 -->
<!-- INICIO MODAL - NOTICIA 3 -->
<div class="modal fade" id="modal-fromleft_Noticia_3" tabindex="-1" role="dialog" aria-labelledby="modal-fromleft_Noticia_3" aria-hidden="true">
    <div class="modal-dialog modal-dialog-fromleft" role="document">
        <div class="modal-content">
            <div class="block block-rounded shadow-none mb-0">
                <div class="container block-content block-fondo" data-aos="fade-up" style="PADDING: 30PX;">
                    <div class="section-header">
                        <h2>Noticias</h2>
                    </div>
                    <div class="row gy-4">
                        @* Titulo y Contenido Noticia 3 *@
                        @*  Columna 1 *@
                        <h5 style="text-align: center;text-transform: uppercase;">
                            @Html.Raw(NoticiaResource.EtiquetaTítuloNoticia_3)
                        </h5>
                        <div class="col-lg-6">
                            <!-- Inicio de Portafolio Noticia 1 -->
                            <div class="row gy-4 portfolio-container">
                                @* INICIO Foto que se Mostrara *@
                                <div class="portfolio-item filter-app">
                                    <div class="portfolio-wrap">
                                        <a href="~/imagenes/noticias/portafolio_noticia_3/noticia_3_f1.jpeg" data-gallery="portfolio-noticia_3" class="glightbox">
                                            <img src="~/imagenes/noticias/portafolio_noticia_3/noticia_3_f1.jpeg"
                                                 class="img-fluid" alt="">
                                        </a>

                                    </div>
                                </div>
                                @* FIN Foto que se Mostrara *@
                                @* INICIO Fotos Ocultas *@
                                <div hidden>
                                    <div class="portfolio-wrap">
                                        <a href="~/imagenes/noticias/portafolio_noticia_3/noticia_3_f2.jpeg" data-gallery="portfolio-noticia_3" class="glightbox">
                                            <img src="~/imagenes/noticias/portafolio_noticia_3/noticia_3_f2.jpeg"
                                                 class="img-fluid" alt="">
                                        </a>
                                    </div>
                                    <div class="portfolio-wrap">
                                        <a href="~/imagenes/noticias/portafolio_noticia_3/noticia_3_f3.jpeg" data-gallery="portfolio-noticia_3" class="glightbox">
                                            <img src="~/imagenes/noticias/portafolio_noticia_3/noticia_3_f3.jpeg"
                                                 class="img-fluid" alt="">
                                        </a>
                                    </div>
                                    <div class="portfolio-wrap">
                                        <a href="~/imagenes/noticias/portafolio_noticia_3/noticia_3_f4.jpeg" data-gallery="portfolio-noticia_3" class="glightbox">
                                            <img src="~/imagenes/noticias/portafolio_noticia_3/noticia_3_f4.jpeg"
                                                 class="img-fluid" alt="">
                                        </a>
                                    </div>                                
                                </div>
                                @* FIN Fotos Ocultas *@
                            </div>
                            <!-- Fin de Portafolio Noticia 3 -->
                            <p>
                                <strong>
                                    @Html.Raw(NoticiaResource.EtiquetaContenidoCodigoFechaNoticia_2)
                                </strong>
                            </p>
                            <p style="text-align: justify;">@Html.Raw(NoticiaResource.EtiquetaContenidoNoticia_2_p1)</p>
                        </div>
                        @*  Columna 2 *@
                        <div class="col-lg-6">
                            <p style="text-align: justify;">@Html.Raw(NoticiaResource.EtiquetaContenidoNoticia_2_p2)</p>
                            <p style="text-align: right;">@Html.Raw(NoticiaResource.EtiquetaContenidoFechaNoticia_2)</p>
                        </div>
                    </div>
                </div>
                <div class="block-content block-content-full block-content-sm block-fondo text-end border-top">
                    <button type="button" class="btn btn-alt-insn" data-bs-dismiss="modal">
                        Cerrar
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- FIN MODAL - NOTICIA 3 -->
<!-- INICIO MODAL - NOTICIA 2 -->
<div class="modal fade" id="modal-fromleft_Noticia_2" tabindex="-1" role="dialog" aria-labelledby="modal-fromleft_Noticia_2" aria-hidden="true">
    <div class="modal-dialog modal-dialog-fromleft" role="document">
        <div class="modal-content">
            <div class="block block-rounded shadow-none mb-0">
                <div class="container block-content block-fondo" data-aos="fade-up" style="PADDING: 30PX;">
                    <div class="section-header">
                        <h2>Noticias</h2>
                    </div>
                    <div class="row gy-4">
                        @* Titulo y Contenido Noticia 2 *@
                        @*  Columna 1 *@
                        <h5 style="text-align: center;text-transform: uppercase;">
                            @Html.Raw(NoticiaResource.EtiquetaTítuloNoticia_2)
                        </h5>
                        <div class="col-lg-6">
                            <!-- Inicio de Portafolio Noticia 1 -->
                            <div class="row gy-4 portfolio-container">
                                @* INICIO Foto que se Mostrara *@
                                <div class="portfolio-item filter-app">
                                    <div class="portfolio-wrap">
                                        <a href="~/imagenes/noticias/portafolio_noticia_2/noticia_2_f1.jpeg" data-gallery="portfolio-noticia_2" class="glightbox">
                                            <img src="~/imagenes/noticias/portafolio_noticia_2/noticia_2_f1.jpeg"
                                                 class="img-fluid" alt="">
                                        </a>

                                    </div>
                                </div>
                                @* FIN Foto que se Mostrara *@
                                @* INICIO Fotos Ocultas *@
                                <div hidden>
                                    <div class="portfolio-wrap">
                                        <a href="~/imagenes/noticias/portafolio_noticia_2/noticia_2_f2.jpeg" data-gallery="portfolio-noticia_2" class="glightbox">
                                            <img src="~/imagenes/noticias/portafolio_noticia_2/noticia_2_f2.jpeg"
                                                 class="img-fluid" alt="">
                                        </a>
                                    </div>
                                    <div class="portfolio-wrap">
                                        <a href="~/imagenes/noticias/portafolio_noticia_2/noticia_2_f3.jpeg" data-gallery="portfolio-noticia_2" class="glightbox">
                                            <img src="~/imagenes/noticias/portafolio_noticia_2/noticia_2_f3.jpeg"
                                                 class="img-fluid" alt="">
                                        </a>
                                    </div>
                                    <div class="portfolio-wrap">
                                        <a href="~/imagenes/noticias/portafolio_noticia_2/noticia_2_f4.jpeg" data-gallery="portfolio-noticia_2" class="glightbox">
                                            <img src="~/imagenes/noticias/portafolio_noticia_2/noticia_2_f4.jpeg"
                                                 class="img-fluid" alt="">
                                        </a>
                                    </div>
                                    <div class="portfolio-wrap">
                                        <a href="~/imagenes/noticias/portafolio_noticia_2/noticia_2_f5.jpeg" data-gallery="portfolio-noticia_2" class="glightbox">
                                            <img src="~/imagenes/noticias/portafolio_noticia_2/noticia_2_f5.jpeg"
                                                 class="img-fluid" alt="">
                                        </a>
                                    </div>
                                </div>
                                @* FIN Fotos Ocultas *@
                            </div>
                            <!-- Fin de Portafolio Noticia 2 -->
                            <p>
                                <strong>
                                    @Html.Raw(NoticiaResource.EtiquetaContenidoCodigoFechaNoticia_2)
                                </strong>
                            </p>
                            <p style="text-align: justify;">@Html.Raw(NoticiaResource.EtiquetaContenidoNoticia_2_p1)</p>
                        </div>
                        @*  Columna 2 *@
                        <div class="col-lg-6">
                            <p style="text-align: justify;">@Html.Raw(NoticiaResource.EtiquetaContenidoNoticia_2_p2)</p>
                            <p style="text-align: right;">@Html.Raw(NoticiaResource.EtiquetaContenidoFechaNoticia_2)</p>
                        </div>
                    </div>
                </div>
                <div class="block-content block-content-full block-content-sm block-fondo text-end border-top">
                    <button type="button" class="btn btn-alt-insn" data-bs-dismiss="modal">
                        Cerrar
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- FIN MODAL - NOTICIA 2 -->
<!-- INICIO MODAL - NOTICIA 1 -->
<div class="modal fade" id="modal-fromleft_Noticia_1" tabindex="-1" role="dialog" aria-labelledby="modal-fromleft_Noticia_1" aria-hidden="true">
    <div class="modal-dialog modal-dialog-fromleft" role="document">
        <div class="modal-content">
            <div class="block block-rounded shadow-none mb-0">
                <div class="container block-content block-fondo" data-aos="fade-up" style="PADDING: 30PX;">
                    <div class="section-header">
                        <h2>Noticias</h2>
                    </div>
                    <div class="row gy-4">
                     @*    Titulo y Contenido Noticia 1 *@
                      @*     Columna 1 *@
                         <h5 style="text-align: center;text-transform: uppercase;">
                            @Html.Raw(NoticiaResource.EtiquetaTítuloNoticia_1)
                        </h5>
                        <div class="col-lg-6">
                            <!-- Inicio de Portafolio Noticia 1 -->
                            <div class="row gy-4 portfolio-container">
                                  Foto que se Mostrara 
                                 <div class="portfolio-item filter-app">
                                    <div class="portfolio-wrap">
                                        <a href="~/imagenes/noticias/portafolio_noticia_1/noticia_1_f1.jpeg" data-gallery="portfolio-noticia_1" class="glightbox">
                                            <img src="~/imagenes/noticias/portafolio_noticia_1/noticia_1_f1.jpeg"
                                                 class="img-fluid" alt="">
                                        </a>
                                    </div>
                                </div>
                                @* INICIO Fotos Ocultas *@
                                <div hidden>
                                    <div class="portfolio-wrap">
                                        <a href="~/imagenes/noticias/portafolio_noticia_1/noticia_1_f2.jpeg" data-gallery="portfolio-noticia_1" class="glightbox">
                                            <img src="~/imagenes/noticias/portafolio_noticia_1/noticia_1_f2.jpeg"
                                                 class="img-fluid" alt="">
                                        </a>
                                    </div>
                                    <div class="portfolio-wrap">
                                        <a href="~/imagenes/noticias/portafolio_noticia_1/noticia_1_f3.jpeg" data-gallery="portfolio-noticia_1" class="glightbox">
                                            <img src="~/imagenes/noticias/portafolio_noticia_1/noticia_1_f3.jpeg"
                                                 class="img-fluid" alt="">
                                        </a>
                                    </div>
                                    <div class="portfolio-wrap">
                                        <a href="~/imagenes/noticias/portafolio_noticia_1/noticia_1_f4.jpeg" data-gallery="portfolio-noticia_1" class="glightbox">
                                            <img src="~/imagenes/noticias/portafolio_noticia_1/noticia_1_f4.jpeg"
                                                 class="img-fluid" alt="">
                                        </a>
                                    </div>
                                </div>

                                @* FIN Fotos Ocultas *@
                            </div> 
                            <!-- Fin de Portafolio Noticia 1 -->
                             <p>
                                <strong>
                                    @Html.Raw(NoticiaResource.EtiquetaContenidoCodigoFechaNoticia_1)
                                </strong>
                            </p>
                            <p style="text-align: justify;">@Html.Raw(NoticiaResource.EtiquetaContenidoNoticia_1_p1)</p>
                        </div>
                    @*       Columna 2  *@
                         <div class="col-lg-6">
                            <p style="text-align: justify;">@Html.Raw(NoticiaResource.EtiquetaContenidoNoticia_1_p2)</p>
                            <p style="text-align: right;">@Html.Raw(NoticiaResource.EtiquetaContenidoFechaNoticia_1)</p>
                        </div>
                    </div>
                </div>
                <div class="block-content block-content-full block-content-sm block-fondo text-end border-top">
                    <button type="button" class="btn btn-alt-insn" data-bs-dismiss="modal">
                        Cerrar
                    </button>
                </div>
            </div>
        </div>
    </div>
</div> 
<!-- FIN MODAL - NOTICIA 1 -->

